/*-------------blog-------------*/
.blog {
    padding-bottom:100px;
    @media(max-width:555px){
      padding-bottom:80px;
    }
    width: 100%;
    //blog__title
    &__title {
    margin-bottom:33px;
    @media(max-width:747px){
      font-size:30px;
      margin-bottom:25px;
    }
    @media(max-width:555px){
      font-size:27px;
      margin-bottom:20px;
    }
    @media(max-width:420px){
      font-size:24px;
      margin-bottom:18px;
    }
   }
   //blog__items
   &__items {
    display: flex;
    justify-content: space-between;
    margin-bottom:74px;
    @media(max-width:860px){
      margin-bottom:54px; 
    }
    @media(max-width:747px){
      overflow-x:auto;
      padding-bottom:15px;
    }
    @media(max-width:540px){
      margin-bottom:35px;
    }
    .article {
      flex:1 1 50%;
      margin-right:20px;
      @media(max-width:989px){
        margin-right:15px; 
      }
      @media(max-width:747px){
        margin-right:0px;
        flex: 1 0 60%;
        margin-right:15px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      //article__img
      &__img {
       min-height:400px;
       margin-bottom:9px;
       @media(max-width:1120px){
        min-height:370px;
       }
       @media(max-width:968px){
        min-height:324px;
       }
       @media(max-width:860px){
        min-height:255px;
       }
       @media(max-width:747px){
        width: 100%;
        margin-bottom:15px;
       }
       @media(max-width:597px){
        min-height:235px;
       }
       @media(max-width:490px){
        min-height:205px;
        margin-bottom:10px;
       }
       @media(max-width:420px){
        min-height: 160px;
       }
       @media(max-width:350px){
        min-height: 150px;
       }
      }
      //article__title
      &__title {
       margin-bottom:13px;
       display: inline-block;
       @extend %title;
       @media(max-width:747px){
        font-weight: 400;
        font-size: 18px;
        line-height: 139%;
        color: #1D2F38;
       }
       @media(max-width:490px){
        font-size:16px;
       }
      }
      //article__text
      &__text {
        @extend %text1;
        display: inline-block;
        @media(max-width:747px){
          display: none;
        }
      }
      *:last-child{
        margin-bottom:0px;
      }
    }
    .articles {
      flex:1 1 50%;
      margin-left:20px;
      @media(max-width:989px){
        margin-left:15px; 
      }
      @media(max-width:747px){
        margin-left:0px;
        display: flex;
        flex:1 1 auto;
        
      }

      //articles__item
      &__item {
       display: flex;
       align-items: center;
       @media(max-width:747px){
        flex-direction: column;
        flex: 1 0 60%;
       }
       &:not(:last-child){
        margin-bottom:20px;
        @media(max-width:747px){
          margin:0px 15px 0px 0px;
        }
       }
      }
      //articles__img
      &__img {
       flex: 0 0 245px;
       min-height:150px;
       margin-right:15px;
       @media(max-width:1120px){
        flex: 0 0 227px;
        min-height:132px;
       }
       @media(max-width:968px){
        flex: 0 0 198px;
        min-height:118px;
       }
       @media(max-width:860px){
        flex: 0 0 177px;
        min-height: 104px;
       }
       @media(max-width:747px){
        margin-right:0px;
        width:100%;
        min-height: none;
        flex: 0 0 255px;
        margin-bottom:15px;
       }
       @media(max-width:597px){
        flex: 0 0 235px;
       }
       @media(max-width:490px){
        margin-bottom:10px;
        flex: 0 0 205px;
       }
       @media(max-width:420px){
        flex: 0 0 160px;
       }
       @media(max-width:350px){
        flex: 0 0 150px;
       }
      }
      //articles__text
      &__text {
       font-weight: 400;
       font-size: 18px;
       line-height: 139%;
       color: #1D2F38;
       display: inline-block;
       @media(max-width:490px){
        font-size:16px;
       }
      }
    }
   }
   &__container{
    *:last-child{
      margin-bottom:0px;
    }
   }
}
/*-------------blog-------------*/