/*-------------easy-------------*/
.easy {
  padding:60px 0px 77px 0px;
  @media(max-width:1120px){
    padding:40px 0px 77px 0px;
  }
  @media(max-width:555px){
    padding:30px 0px 77px 0px;
  }
  width: 100%;
  &__body {
    padding:50px;
    width: 100%;
    background-color: #E3EBF1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width:1177px){
      padding:40px;
    }
    @media(max-width:1140px){
      padding:30px;
    }
    @media(max-width:1120px){
      flex-direction: column;
      align-items: center;
    }
    @media(max-width:396px){
      padding:20px;
    }
    .easy__img {
      min-height:386px;
      flex: 1 1 50%;
      margin-right:25px;
      @media(max-width:1177px){
        margin-right:15px;
      }
      @media(max-width:1120px){
        width: 100%;
        margin-right:0px;
        margin-bottom:15px;
        max-width:500px;
      }
      @media(max-width:594px){
        max-width:450px;
        min-height:347px;
      }
      @media(max-width:540px){
        max-width:394px;
        min-height:304px;
      }
      @media(max-width:490px){
        max-width:300px;
        min-height:231px;
      }
      @media(max-width:396px){
        max-width:270px;
        min-height:209px;
      }
      @media(max-width:342px){
        min-height:193px; 
      }
    }
    .easy__content {
      flex: 1 1 50%;
      margin-left:25px;
      padding:14px 0px;
      @media(max-width:1177px){
        margin-left:15px;
      }
      @media(max-width:1120px){
        text-align: center;
        margin-left:0px;
        padding: 0px;
      }
      .easy__description {
        font-weight: 400;
        font-size: 18px;
        line-height: 139%;   
        color: #10843F;
        margin-bottom:8px;
        @media(max-width:594px){
          font-size: 16px;
        }
        @media(max-width:490px){
          font-size: 14px;
        }
      }
      .east__title {
        font-family: 'Bitter';
        font-weight: 400;
        font-size: 47px;
        line-height: 111%;
        color: #1D2F38;
        margin-bottom:22px;
        @media(max-width:594px){
          font-size: 40px;
        }
        @media(max-width:490px){
          font-size: 30px;
          margin-bottom:15px;
        }
      }
      .easy__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #333333;
        margin-bottom:25px;
        @media(max-width:594px){
          font-size: 16px;
        }
        @media(max-width:490px){
          font-size: 14px;
          margin-bottom:19px;
        }
        span{
          font-weight: 700;
        }
      }
      .easy__button {
        @extend %green-button;
        width:auto;
        padding:15px 19px;
        @media(max-width:490px){
          font-size:13px ;
          width: 100%;
        }
      }
      *:last-child{
        margin-bottom:0px
      }
    }
    *:last-child{
      margin-bottom:0px
    }
  }

}
/*-------------easy-------------*/