/*-------------header-------------*/
$wid:19px;
$wid2:24px;
.header{
  width: 100%;
  padding:14.5px 0px;
  box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
  background-color: #ffff;
  border-bottom:1px solid #D8D8D8;
  @media(max-width:497px){
    padding:10px 0px; 
  }
  //header__container
  &__container {
    display: flex;
    align-items: center;
  }
  //header__logo
  &__logo {
    width:155px;
    height:55px;
    display: block;
    flex: 0 0 155px;
    @media(max-width:497px){
      width:131px;
      height:47px;
      flex: 0 0 131px;
    }
    img{
      width:100%;
      height:100%;
    }
  }
  //header__body
  .header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;
    width: 100%;
    @media(max-width:902px){
      padding-right: 0px;
    }
    @media(max-width:768px){
      justify-content: right;
    }
    .header__burger {
      display: none;
      position: relative;
      z-index: 100;
      bottom: 6px;
      @media(max-width:768px){
        display: block;
      }
      width:25px;
      span{
        position:absolute;
        width: 100%;
        height:2px;
        background-color: black;
        transition-duration: 0.3s;
        &:nth-child(1){
          top: 0;
        }
        &:nth-child(2){
          top:6px;
        }
        &:nth-child(3){
          top:12px;
        }
      }
      &.active{
        bottom: 3px;
        span{
          transition-duration: 0.3s;
          &:nth-child(1){
            transform:rotate(-45deg);
            top: 0;
          }
          &:nth-child(2){
            transform: scale(0);
          }
          &:nth-child(3){
            transform:rotate(45deg);
            top: 0;
          }
        }
      }
    }
    .menu {
      width: 100%;
      @media(max-width:768px){
        position: fixed;
        width: 100%;
        height:100%;
        top:-100%;
        left:0;
        background-color: rgba(255,255,255,0.9);
        transition-duration: 0.3s;
        overflow-y: auto;
        padding: 0 44px;
        padding:0px 44px 10px 44px ;
      }
      &.active{
        top: 0;
        transition-duration: 0.3s;
      }
      //menu__list
      &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin:0px 0px 0px 35px;
        @media(max-width:768px){
          flex-direction: column;
          margin:0px 0px 22px 0px;
        }
        li{
          display: flex;
          align-items: center;
          @media(max-width:768px){
            justify-content: center;
            text-align: center;
            width: 100%;
          }
        }
        li:not(:last-child){
          margin:0px 37px 0px 0px;
          @media(max-width:768px){
            margin:0px 0px 12px 0px;
          }
        }
        li.menu__text {
          @extend %header-text;
          margin-right:50px;
          @media(max-width:768px){
            margin:24px 0px 40px 0px;
          }
          @media(max-width:497px){
            margin:18px 0px 40px 0px;
          }
        }
        .menu__link {
          @extend %header-text;
        }
        li::before{
          margin:-4px 7px 0px 0px;
          flex:0 0 $wid;
          @media(max-width:768px){
            flex: 0 0 $wid2;
          }
        }
        li.ico1::before{
          @include psed('',block);
          @include setbg(url('../img/header/link-icon\(1\).svg'),$wid,17px);
          @media(max-width:768px){
            height:21px ;
          }
        }
        li.ico2::before{
          @include psed('',block);
          @include setbg(url('../img/header/link-icon\(2\).svg'),$wid,19px); 
          @media(max-width:768px){
            height:23px ;
          }
        }
        li.ico3::before{
          @include psed('',block);
          @include setbg(url('../img/header/link-icon\(3\).svg'),$wid,19px); 
          @media(max-width:768px){
            height:24px ;
          }
        }
        li.ico4::before{
          @include psed('',block);
          @include setbg(url('../img/header/link-icon\(4\).svg'),20px,18px);   
          flex:0 0 20px; 
          @media(max-width:768px){
            flex:0 0 24px; 
            height:21px ;
          }
        }
        li:last-child{
          margin-bottom:0px; 
        }
      }
    }
    .header__sign-up {
      flex:0 0 140px;
      margin-left: 20px;
      @media(max-width:768px){
        justify-content: center;
        margin-left: 0px;
      }
      display: flex;
      align-items: center;
      justify-content: right;
      @extend %header-text;
      &::before{
        @include psed('',block);
        @include setbg(url('../img/header/mail.svg'),37px,27px);
        @extend %ground-base;
        flex:0 0 37px;
        margin-right:7px;
      }
    }
  }
}
/*-------------header-------------*/