//import
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Raleway:wght@400;700&display=swap');
@import "ibg.scss";
@import "templates.scss";
@import "null.scss";
@import "mixin.scss";
@import "ui.scss";
@import "header.scss";
@import "easy.scss";
@import "blog.scss";
@import "products.scss";
@import "signup.scss";
@import "footer.scss";
//import
body{
  font-family: 'Raleway';
}
.body-lock{
  overflow: hidden;
}
.wrapper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
}
.page{
  flex:1 1 auto;
}
._container{
  width: 100%;
  margin: 0 auto;
  max-width:1180px;
  padding: 0 15px;
}