/*----------------choose----------------*/
.choose {
    padding-bottom:206px;
    @media(max-width:1072px){
      padding-bottom:190px;
    }
    @media(max-width:849px){
      padding-bottom:140px;
    }
    @media(max-width:490px){
      padding-bottom:120px;
    }
   //choose__container
   &__container {
    display: flex;
    justify-content: space-between;
    @media(max-width:849px){
      flex-direction: column-reverse;
      align-items: center;
    }
   }
   //choose__content
   &__content{
    flex: 1 1 596px;
    padding:83px 0px 110px 0px;
    margin-right:18px;
    @media(max-width:1072px){
      padding:50px 0px 60px 0px;
    }
    @media(max-width:960px){
      padding:20px 0px 30px 0px;
    }
    @media(max-width:849px){
      padding:0px;
      flex: 1 1 auto;
    }
   }
   //choose__img
   &__img{
    flex: 1 1 673px;
    min-height:100%;
    margin:0px -135px 0px 18px;
    @media(max-width:960px){
      margin:0px -150px 0px 18px;
    }
    @media(max-width:849px){
      margin:0px 0px 40px 0px;
      flex: 1 1 480px;
      max-width:667px;
      width: 100%;
    }
    @media(max-width:490px){
      flex: 1 1 400px;
      margin-bottom:25px;
    }
    @media(max-width:402px){
      flex: 1 1 302px;
    }
   }
   //choose__title
   &__title {
     @extend %title1;
     margin-bottom:20px;
     @media(max-width:490px){
      margin-bottom:15px;
    }
   }
   //choose__text
   &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #555555;
    margin-bottom:40px;
    @media(max-width:849px){
      font-size: 16px;
    }
    @media(max-width:747px){
      margin-bottom:30px;
    }
    @media(max-width:490px){
      font-size:14px;
    }
   }
   //choose__button
   &__button {
    padding:16px 41px 16px 32px;
    border-radius: 6px;
    font-weight: 400;
    line-height: 133%;
    &::after{
      @include psed('',block);
      @extend %ground-base;
      background-image: url('../img/icons/rect-w.svg');     
      margin-left:21px;
      height: 12px;
      width:6px;
      flex: 0 0 6px;
    }
    @extend %bluebutton;
   }
   &__content{
    *:last-child{
      margin-bottom:0px;
    }
   }
}


/*----------------choose----------------*/