/*----------------peoples----------------*/
.people {
    padding-bottom:248px;
    width: 100%;
    @media(max-width:1072px){
       padding-bottom:220px;
    }
    @media(max-width:849px){
       padding-bottom:160px;
    }
    @media(max-width:672px){
       padding-bottom:140px;  
    }
   //people__container
   &__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
   //people__title
   &__title {
     margin-bottom:16px;
     @extend %title1;
     @media(max-width:490px){
        margin-bottom:10px;
     }
   }
   //people__text
   &__text {
     margin-bottom:60px;
     font-weight: 400;
     font-size: 20px;
     line-height: 135%;
     text-align: center;
     color: #555555;
     @media(max-width:490px){
       font-size:18px;
     }
     @media(max-width:490px){
        margin-bottom:40px;
     }
   }
   //people__items 
   &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media(max-width:672px){
      flex-direction: column;
    }
    .people__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding:0px 38.5px;
      flex:1 1 31%;
      @media(max-width:1072px){
        padding:0px 25px;
      }
      @media(max-width:849px){
        padding:0px 20px;
      }
      @media(max-width:672px){
        padding:0px 100px;
      }
      @media(max-width:490px){
        padding:0 25px;
      }
      &:not(:last-child){
        margin-right:30px;
        @media(max-width:849px){
          margin-right:10px;
        }
        @media(max-width:672px){
          margin:0px 0px 40px 0px;
        }
      }
    }
    .people__img {
      width: 144px;
      height: 144px;
      margin-bottom:15px;
      @media(max-width:672px){
        width: 160px;
        height: 160px;
      }
      @media(max-width:490px){
        width: 144px;
        height: 144px;
      }
    }
    .people__name {
      @extend %text2;
      margin-bottom:8px;
    }
    .people__stars {
       display: flex;
       margin-bottom:16px;
       li{
         flex:0 0 16px;
         height:16px;
         &:not(:last-child){
          margin-right:3px;
         }
       }
    }
    .people__description {
      font-weight: 400;
      font-size: 14px;
      line-height:143%;
      color: #555555;
      @media(max-width:490px){
        font-size:13px;
      }
    }
    .people__item{
      *:last-child{
        margin-bottom:0px;
      }
    }
   }
   &__container{
    *:last-child{
      margin-bottom:0px;
    }
   }
}
/*----------------peoples----------------*/