/*----------------places----------------*/
.places{
    width: 100%;
    padding-bottom: 120px;
    @media(max-width:490px){
      padding-bottom: 110px;
    }
    //places__container
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      text-align: center;
    }
    //places__title
    &__title {
      @extend %title1;
      margin-bottom: 16px;
      @media(max-width:747px){
        margin-bottom:10px;
      }
    }
    //places__text
    &__text {
      font-weight: 400;
      font-size: 20px;
      line-height: 27 / 20 * 100%;
      color: #555555;
      margin-bottom: 40px;
      @media(max-width:747px){
        font-size: 16px;
      }
      @media(max-width:747px){
        font-size:14px;
      }
    } 
    //places__images
    &__images {
      width: 100%;
      display: grid;
      grid-template-columns:repeat(3,1fr);
      grid-template-rows: repeat(2,minmax(255px,auto));
      grid-auto-rows:minmax(255px,auto);
      grid-gap: 30px;
      @media(max-width:1072px){
        grid-gap: 25px;
      }
      @media(max-width:849px){
        grid-template-rows: repeat(2,minmax(200px,auto));
        grid-auto-rows:minmax(200px,auto);
        grid-gap: 18px;
      }
      @media(max-width:747px){
        grid-template-columns:repeat(2,1fr);
        grid-gap: 15px;
      }
      @media(max-width:490px){
        grid-template-columns:repeat(1,1fr);
        grid-template-rows: repeat(5,minmax(260px,auto));
        grid-gap: 20px;
        grid-auto-rows:minmax(260px,auto);
      }
      .places__img {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        padding:80px 20px 0px 20px;
        @media(max-width:490px){
          width:100%;
          padding:80px 50px 0px 50px;
        }
        span{
          background: rgba(0, 96, 119, 0.02);
          backdrop-filter: blur(14.5px);
          font-weight: 500;
          font-size: 24px;
          line-height: 28 / 24 * 100%;
          color: #FFFFFF;
          padding:12px 31px;
          margin-bottom:24px;
          display: flex;
          flex-direction: column;
          align-items: center;
          @media(max-width:1072px){
            font-size: 22px;
          }
          @media(max-width:849px){
            font-size:20px;
            padding:8px 25px;
          }
          @media(max-width:490px){
            width:100%;
            font-size: 18px;
          }
          
          &::after{
            @include psed('50 Properties',block);
            margin-top:8px;
            font-weight: 400;
            font-size: 20px;
            line-height:135%;
            color: #DDDDDD;
            @media(max-width:1072px){
              font-size: 18px;
              margin-top:4px;
            }
            @media(max-width:849px){
              font-size:16px;
            }
            @media(max-width:490px){
              font-size:14px;
            }
          }
        }
        &:first-child{
          grid-row: span 2;
          @media(max-width:490px){
            grid-row: span 1;
          }
          span{
            margin-bottom:122px;
            @media(max-width:1072px){
              margin-bottom:100px;
            }
            @media(max-width:849px){
              margin-bottom:50px;
            }
            @media(max-width:747px){
              margin-bottom: 24px;
            }
          }
          
        }
       
      }
    }
    &__container {
      *:last-child{
          margin-bottom:0px;
      }
    }
}
/*----------------places----------------*/