%ground-base{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
%text1{
   font-weight: 400;
   font-size: 18px;
   line-height: 21 / 18 * 100%;
   color: #02012B;
}
%text2{
  font-weight: 500;
  font-size: 24px;
  line-height: 28 / 24 * 100%;
  text-align: center;
  color: #222222;
}
%text3{
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #555555;
  @media(max-width:960px){
    font-size:17px;
  }
  @media(max-width:747px){
    font-size:16px;
  }
  @media(max-width:572px){
    font-size:15px;
  }
}
%title1{
    font-weight: 700;
    font-size: 48px;
    line-height: 127%;
    color: #222222;
    @media(max-width:1052px){
        font-size: 44px;
    }
    @media(max-width:849px){
      font-size:46px;
    }
    @media(max-width:747px){
      font-size:40px;
    }
    @media(max-width:490px){
      font-size:34px;
    }
    @media(max-width:340px){
      font-size:32px;
    }
}
%bluebutton{
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #19BCE4;
    transition-duration: 0.3s;
    font-size: 18px;
    @media(max-width:747px){
      font-size:16px;
    }
    @media(max-width:490px){
      font-size:14px;
    }
    @media(max-width:340px){
      width: 100%;
    }
    &:hover{
        transition-duration: 0.3s;
        background: #129fc2;
    }
}