@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Raleway:wght@400;700&display=swap");
/*---------ibg---------*/
.ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.ibg img {
  display: none;
}

/*---------ibg---------*/
.signup__body, .products .best-products__text::before, .products .best-products, .header .header__body .header__sign-up::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .header__body .header__sign-up, .header .header__body .menu__list .menu__link, .header .header__body .menu__list li.menu__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #1D2F38;
}
@media (max-width: 768px) {
  .header .header__body .header__sign-up, .header .header__body .menu__list .menu__link, .header .header__body .menu__list li.menu__text {
    font-size: 29px;
  }
}

.products .best-products__button, .easy__body .easy__content .easy__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: #FFFFFF;
  background: #17A550;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border-radius: 5px;
  padding: 15px 5px;
  width: 100%;
}
.products .best-products__button:hover, .easy__body .easy__content .easy__button:hover {
  background: #149949;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.products .product-reviews__items .product-review__text, .blog__items .article__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;
  color: #1D2F38;
}

.footer__bottom .footer__text, .footer__bottom .footer__links .footer__link a, .signup__body .signup__content .signup__form .signup__form-row .signup__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #536D7A;
}

.footer__columns .browse__copy, .footer__columns .browse__links .browse__link a, .footer__columns .main-column__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #1D2F38;
}

.footer__bottom .footer__text span, .footer__bottom .footer__links .footer__link:last-child a {
  font-weight: 400;
  font-size: 11px;
  line-height: 182%;
  color: #1D2F38;
}

.footer__columns .browse__title, .footer__columns .latest-articles__title, .signup__body .signup__content .signup__title-row .signup__title, .products .product-reviews__items .product-review__title, .blog__items .article__title {
  font-family: "Bitter";
  font-weight: 400;
  font-size: 30px;
  line-height: 117%;
  color: #1D2F38;
}

/*---null---*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html, body {
  width: 100%;
  min-height: 100%;
  font-family: "Heebo";
}

/*---null---*/
.title {
  font-family: "Bitter";
  font-weight: 400;
  font-size: 38px;
  line-height: 105%;
  color: #1D2F38;
}
@media (max-width: 540px) {
  .title {
    font-size: 28px;
  }
}
@media (max-width: 340px) {
  .title {
    font-size: 26px;
  }
}

.view-all {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #1D2F38;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 420px) {
  .view-all {
    font-size: 14px;
  }
}
.view-all::before {
  content: url("../img/icons/triangle.svg");
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

/*-------------header-------------*/
.header {
  width: 100%;
  padding: 14.5px 0px;
  -webkit-box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
          box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
  background-color: white;
  border-bottom: 1px solid #D8D8D8;
}
@media (max-width: 497px) {
  .header {
    padding: 10px 0px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 155px;
  height: 55px;
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 155px;
          flex: 0 0 155px;
}
@media (max-width: 497px) {
  .header__logo {
    width: 131px;
    height: 47px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 131px;
            flex: 0 0 131px;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header .header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 12px;
  width: 100%;
}
@media (max-width: 902px) {
  .header .header__body {
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .header .header__body {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}
.header .header__body .header__burger {
  display: none;
  position: relative;
  z-index: 100;
  bottom: 6px;
  width: 25px;
}
@media (max-width: 768px) {
  .header .header__body .header__burger {
    display: block;
  }
}
.header .header__body .header__burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.header .header__body .header__burger span:nth-child(1) {
  top: 0;
}
.header .header__body .header__burger span:nth-child(2) {
  top: 6px;
}
.header .header__body .header__burger span:nth-child(3) {
  top: 12px;
}
.header .header__body .header__burger.active {
  bottom: 3px;
}
.header .header__body .header__burger.active span {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.header .header__body .header__burger.active span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}
.header .header__body .header__burger.active span:nth-child(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.header .header__body .header__burger.active span:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}
.header .header__body .menu {
  width: 100%;
}
@media (max-width: 768px) {
  .header .header__body .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    overflow-y: auto;
    padding: 0 44px;
    padding: 0px 44px 10px 44px;
  }
}
.header .header__body .menu.active {
  top: 0;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.header .header__body .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 0px 35px;
}
@media (max-width: 768px) {
  .header .header__body .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px 22px 0px;
  }
}
.header .header__body .menu__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header .header__body .menu__list li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100%;
  }
}
.header .header__body .menu__list li:not(:last-child) {
  margin: 0px 37px 0px 0px;
}
@media (max-width: 768px) {
  .header .header__body .menu__list li:not(:last-child) {
    margin: 0px 0px 12px 0px;
  }
}
.header .header__body .menu__list li.menu__text {
  margin-right: 50px;
}
@media (max-width: 768px) {
  .header .header__body .menu__list li.menu__text {
    margin: 24px 0px 40px 0px;
  }
}
@media (max-width: 497px) {
  .header .header__body .menu__list li.menu__text {
    margin: 18px 0px 40px 0px;
  }
}
.header .header__body .menu__list li::before {
  margin: -4px 7px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 19px;
          flex: 0 0 19px;
}
@media (max-width: 768px) {
  .header .header__body .menu__list li::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
  }
}
.header .header__body .menu__list li.ico1::before {
  content: "";
  display: block;
  background-image: url("../img/header/link-icon(1).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 19px;
  height: 17px;
}
@media (max-width: 768px) {
  .header .header__body .menu__list li.ico1::before {
    height: 21px;
  }
}
.header .header__body .menu__list li.ico2::before {
  content: "";
  display: block;
  background-image: url("../img/header/link-icon(2).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 19px;
  height: 19px;
}
@media (max-width: 768px) {
  .header .header__body .menu__list li.ico2::before {
    height: 23px;
  }
}
.header .header__body .menu__list li.ico3::before {
  content: "";
  display: block;
  background-image: url("../img/header/link-icon(3).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 19px;
  height: 19px;
}
@media (max-width: 768px) {
  .header .header__body .menu__list li.ico3::before {
    height: 24px;
  }
}
.header .header__body .menu__list li.ico4::before {
  content: "";
  display: block;
  background-image: url("../img/header/link-icon(4).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}
@media (max-width: 768px) {
  .header .header__body .menu__list li.ico4::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
    height: 21px;
  }
}
.header .header__body .menu__list li:last-child {
  margin-bottom: 0px;
}
.header .header__body .header__sign-up {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
@media (max-width: 768px) {
  .header .header__body .header__sign-up {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0px;
  }
}
.header .header__body .header__sign-up::before {
  content: "";
  display: block;
  background-image: url("../img/header/mail.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 37px;
  height: 27px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37px;
          flex: 0 0 37px;
  margin-right: 7px;
}

/*-------------header-------------*/
/*-------------easy-------------*/
.easy {
  padding: 60px 0px 77px 0px;
  width: 100%;
}
@media (max-width: 1120px) {
  .easy {
    padding: 40px 0px 77px 0px;
  }
}
@media (max-width: 555px) {
  .easy {
    padding: 30px 0px 77px 0px;
  }
}
.easy__body {
  padding: 50px;
  width: 100%;
  background-color: #E3EBF1;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1177px) {
  .easy__body {
    padding: 40px;
  }
}
@media (max-width: 1140px) {
  .easy__body {
    padding: 30px;
  }
}
@media (max-width: 1120px) {
  .easy__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 396px) {
  .easy__body {
    padding: 20px;
  }
}
.easy__body .easy__img {
  min-height: 386px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-right: 25px;
}
@media (max-width: 1177px) {
  .easy__body .easy__img {
    margin-right: 15px;
  }
}
@media (max-width: 1120px) {
  .easy__body .easy__img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
    max-width: 500px;
  }
}
@media (max-width: 594px) {
  .easy__body .easy__img {
    max-width: 450px;
    min-height: 347px;
  }
}
@media (max-width: 540px) {
  .easy__body .easy__img {
    max-width: 394px;
    min-height: 304px;
  }
}
@media (max-width: 490px) {
  .easy__body .easy__img {
    max-width: 300px;
    min-height: 231px;
  }
}
@media (max-width: 396px) {
  .easy__body .easy__img {
    max-width: 270px;
    min-height: 209px;
  }
}
@media (max-width: 342px) {
  .easy__body .easy__img {
    min-height: 193px;
  }
}
.easy__body .easy__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-left: 25px;
  padding: 14px 0px;
}
@media (max-width: 1177px) {
  .easy__body .easy__content {
    margin-left: 15px;
  }
}
@media (max-width: 1120px) {
  .easy__body .easy__content {
    text-align: center;
    margin-left: 0px;
    padding: 0px;
  }
}
.easy__body .easy__content .easy__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  color: #10843F;
  margin-bottom: 8px;
}
@media (max-width: 594px) {
  .easy__body .easy__content .easy__description {
    font-size: 16px;
  }
}
@media (max-width: 490px) {
  .easy__body .easy__content .easy__description {
    font-size: 14px;
  }
}
.easy__body .easy__content .east__title {
  font-family: "Bitter";
  font-weight: 400;
  font-size: 47px;
  line-height: 111%;
  color: #1D2F38;
  margin-bottom: 22px;
}
@media (max-width: 594px) {
  .easy__body .easy__content .east__title {
    font-size: 40px;
  }
}
@media (max-width: 490px) {
  .easy__body .easy__content .east__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
}
.easy__body .easy__content .easy__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #333333;
  margin-bottom: 25px;
}
@media (max-width: 594px) {
  .easy__body .easy__content .easy__text {
    font-size: 16px;
  }
}
@media (max-width: 490px) {
  .easy__body .easy__content .easy__text {
    font-size: 14px;
    margin-bottom: 19px;
  }
}
.easy__body .easy__content .easy__text span {
  font-weight: 700;
}
.easy__body .easy__content .easy__button {
  width: auto;
  padding: 15px 19px;
}
@media (max-width: 490px) {
  .easy__body .easy__content .easy__button {
    font-size: 13px;
    width: 100%;
  }
}
.easy__body .easy__content *:last-child {
  margin-bottom: 0px;
}
.easy__body *:last-child {
  margin-bottom: 0px;
}

/*-------------easy-------------*/
/*-------------blog-------------*/
.blog {
  padding-bottom: 100px;
  width: 100%;
}
@media (max-width: 555px) {
  .blog {
    padding-bottom: 80px;
  }
}
.blog__title {
  margin-bottom: 33px;
}
@media (max-width: 747px) {
  .blog__title {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
@media (max-width: 555px) {
  .blog__title {
    font-size: 27px;
    margin-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .blog__title {
    font-size: 24px;
    margin-bottom: 18px;
  }
}
.blog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 74px;
}
@media (max-width: 860px) {
  .blog__items {
    margin-bottom: 54px;
  }
}
@media (max-width: 747px) {
  .blog__items {
    overflow-x: auto;
    padding-bottom: 15px;
  }
}
@media (max-width: 540px) {
  .blog__items {
    margin-bottom: 35px;
  }
}
.blog__items .article {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-right: 20px;
}
@media (max-width: 989px) {
  .blog__items .article {
    margin-right: 15px;
  }
}
@media (max-width: 747px) {
  .blog__items .article {
    margin-right: 0px;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.blog__items .article__img {
  min-height: 400px;
  margin-bottom: 9px;
}
@media (max-width: 1120px) {
  .blog__items .article__img {
    min-height: 370px;
  }
}
@media (max-width: 968px) {
  .blog__items .article__img {
    min-height: 324px;
  }
}
@media (max-width: 860px) {
  .blog__items .article__img {
    min-height: 255px;
  }
}
@media (max-width: 747px) {
  .blog__items .article__img {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media (max-width: 597px) {
  .blog__items .article__img {
    min-height: 235px;
  }
}
@media (max-width: 490px) {
  .blog__items .article__img {
    min-height: 205px;
    margin-bottom: 10px;
  }
}
@media (max-width: 420px) {
  .blog__items .article__img {
    min-height: 160px;
  }
}
@media (max-width: 350px) {
  .blog__items .article__img {
    min-height: 150px;
  }
}
.blog__items .article__title {
  margin-bottom: 13px;
  display: inline-block;
}
@media (max-width: 747px) {
  .blog__items .article__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 139%;
    color: #1D2F38;
  }
}
@media (max-width: 490px) {
  .blog__items .article__title {
    font-size: 16px;
  }
}
.blog__items .article__text {
  display: inline-block;
}
@media (max-width: 747px) {
  .blog__items .article__text {
    display: none;
  }
}
.blog__items .article *:last-child {
  margin-bottom: 0px;
}
.blog__items .articles {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-left: 20px;
}
@media (max-width: 989px) {
  .blog__items .articles {
    margin-left: 15px;
  }
}
@media (max-width: 747px) {
  .blog__items .articles {
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.blog__items .articles__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 747px) {
  .blog__items .articles__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
  }
}
.blog__items .articles__item:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 747px) {
  .blog__items .articles__item:not(:last-child) {
    margin: 0px 15px 0px 0px;
  }
}
.blog__items .articles__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 245px;
          flex: 0 0 245px;
  min-height: 150px;
  margin-right: 15px;
}
@media (max-width: 1120px) {
  .blog__items .articles__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 227px;
            flex: 0 0 227px;
    min-height: 132px;
  }
}
@media (max-width: 968px) {
  .blog__items .articles__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 198px;
            flex: 0 0 198px;
    min-height: 118px;
  }
}
@media (max-width: 860px) {
  .blog__items .articles__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 177px;
            flex: 0 0 177px;
    min-height: 104px;
  }
}
@media (max-width: 747px) {
  .blog__items .articles__img {
    margin-right: 0px;
    width: 100%;
    min-height: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 255px;
            flex: 0 0 255px;
    margin-bottom: 15px;
  }
}
@media (max-width: 597px) {
  .blog__items .articles__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 235px;
            flex: 0 0 235px;
  }
}
@media (max-width: 490px) {
  .blog__items .articles__img {
    margin-bottom: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 205px;
            flex: 0 0 205px;
  }
}
@media (max-width: 420px) {
  .blog__items .articles__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }
}
@media (max-width: 350px) {
  .blog__items .articles__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
            flex: 0 0 150px;
  }
}
.blog__items .articles__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  color: #1D2F38;
  display: inline-block;
}
@media (max-width: 490px) {
  .blog__items .articles__text {
    font-size: 16px;
  }
}
.blog__container *:last-child {
  margin-bottom: 0px;
}

/*-------------blog-------------*/
/*-------------products--------------*/
.products {
  padding-bottom: 100px;
  width: 100%;
}
@media (max-width: 555px) {
  .products {
    padding-bottom: 80px;
  }
}
.products .best-products {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/product/decoration.png");
  padding: 30px 40px 30px 30px;
  margin-bottom: 100px;
}
@media (max-width: 860px) {
  .products .best-products {
    padding: 20px 25px 20px 20px;
  }
}
@media (max-width: 747px) {
  .products .best-products {
    margin-bottom: 70px;
  }
}
@media (max-width: 552px) {
  .products .best-products {
    padding: 20px 15px 20px 15px;
  }
}
@media (max-width: 720px) {
  .products .best-products {
    margin-bottom: 50px;
  }
}
@media (max-width: 415px) {
  .products .best-products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.products .best-products__text {
  font-family: "Bitter";
  font-weight: 400;
  font-size: 28px;
  line-height: 114%;
  color: #1D2F38;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 747px) {
  .products .best-products__text {
    font-size: 26px;
  }
}
@media (max-width: 552px) {
  .products .best-products__text {
    font-size: 23px;
  }
}
@media (max-width: 415px) {
  .products .best-products__text {
    margin-bottom: 20px;
  }
}
@media (max-width: 404px) {
  .products .best-products__text {
    font-size: 20px;
  }
}
@media (max-width: 332px) {
  .products .best-products__text {
    font-size: 18px;
  }
}
.products .best-products__text::before {
  content: "";
  display: block;
  background-image: url("../img/icons/instruments.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  margin-right: 12px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}
@media (max-width: 552px) {
  .products .best-products__text::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 320px) {
  .products .best-products__text::before {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }
}
.products .best-products__button {
  line-height: 133%;
  max-width: 111px;
  padding: 16px 5px;
  margin-left: 10px;
}
@media (max-width: 657px) {
  .products .best-products__button {
    margin-left: 20px;
  }
}
@media (max-width: 552px) {
  .products .best-products__button {
    max-width: 100px;
    margin-left: 10px;
  }
}
@media (max-width: 415px) {
  .products .best-products__button {
    max-width: 100%;
    padding: 11px 5px;
    margin-left: 0px;
  }
}
@media (max-width: 320px) {
  .products .best-products__button {
    font-size: 13px;
  }
}
.products .product-reviews {
  margin-bottom: 40px;
  width: 100%;
}
.products .product-reviews__title {
  margin-bottom: 33px;
}
@media (max-width: 747px) {
  .products .product-reviews__title {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
@media (max-width: 555px) {
  .products .product-reviews__title {
    font-size: 27px;
    margin-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .products .product-reviews__title {
    font-size: 24px;
    margin-bottom: 18px;
  }
}
.products .product-reviews__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 747px) {
  .products .product-reviews__items {
    overflow-y: auto;
  }
}
.products .product-reviews__items .product-review {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
}
@media (max-width: 747px) {
  .products .product-reviews__items .product-review {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.products .product-reviews__items .product-review:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 1072px) {
  .products .product-reviews__items .product-review:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 968px) {
  .products .product-reviews__items .product-review:not(:last-child) {
    margin-right: 24px;
  }
}
@media (max-width: 848px) {
  .products .product-reviews__items .product-review:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .products .product-reviews__items .product-review:not(:last-child) {
    margin-right: 15px;
  }
}
.products .product-reviews__items .product-review__img {
  width: 100%;
  min-height: 200px;
  margin-bottom: 24px;
}
@media (max-width: 968px) {
  .products .product-reviews__items .product-review__img {
    min-height: 185px;
    margin-bottom: 20px;
  }
}
@media (max-width: 848px) {
  .products .product-reviews__items .product-review__img {
    min-height: 175px;
  }
}
@media (max-width: 768px) {
  .products .product-reviews__items .product-review__img {
    min-height: 168px;
    margin-bottom: 20px;
  }
}
@media (max-width: 747px) {
  .products .product-reviews__items .product-review__img {
    min-height: 255px;
    margin-bottom: 15px;
  }
}
@media (max-width: 597px) {
  .products .product-reviews__items .product-review__img {
    min-height: 235px;
  }
}
@media (max-width: 524px) {
  .products .product-reviews__items .product-review__img {
    min-height: 205px;
    margin-bottom: 10px;
  }
}
@media (max-width: 436px) {
  .products .product-reviews__items .product-review__img {
    min-height: 160px;
  }
}
@media (max-width: 350px) {
  .products .product-reviews__items .product-review__img {
    min-height: 150px;
  }
}
.products .product-reviews__items .product-review__text-content {
  padding: 0px 32px 39px 25px;
}
@media (max-width: 1140px) {
  .products .product-reviews__items .product-review__text-content {
    padding: 0px 20px 39px 15px;
  }
}
@media (max-width: 968px) {
  .products .product-reviews__items .product-review__text-content {
    padding: 0px 5px 35px 7px;
  }
}
@media (max-width: 768px) {
  .products .product-reviews__items .product-review__text-content {
    padding: 0px 0px 35px 4px;
  }
}
@media (max-width: 747px) {
  .products .product-reviews__items .product-review__text-content {
    padding: 0px 0px 35px 0px;
  }
}
@media (max-width: 420px) {
  .products .product-reviews__items .product-review__text-content {
    padding-bottom: 25px;
  }
}
.products .product-reviews__items .product-review__title {
  display: inline-block;
  margin-bottom: 13px;
}
@media (max-width: 747px) {
  .products .product-reviews__items .product-review__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
}
@media (max-width: 420px) {
  .products .product-reviews__items .product-review__title {
    font-size: 16px;
  }
}
.products .product-reviews__items .product-review__text {
  display: inline-block;
}
@media (max-width: 747px) {
  .products .product-reviews__items .product-review__text {
    font-size: 13px;
  }
}
@media (max-width: 420px) {
  .products .product-reviews__items .product-review__text {
    display: none;
  }
}
.products .product-reviews__items .product-review__img::before {
  padding: 5px 10px;
  background: rgba(29, 47, 56, 0.8);
  border-radius: 3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 167%;
  position: relative;
  top: 15px;
  left: 15px;
}
@media (max-width: 420px) {
  .products .product-reviews__items .product-review__img::before {
    font-size: 11px;
    top: 10px;
    left: 10px;
  }
}
.products .product-reviews__items .product-review:nth-child(1) .product-review__img::before {
  content: "Lawns";
  max-width: 57px;
}
.products .product-reviews__items .product-review:nth-child(2) .product-review__img::before {
  content: "Garden";
  max-width: 62px;
}
.products .product-reviews__items .product-review:nth-child(3) .product-review__img::before {
  content: "Hedges";
  max-width: 65px;
}
.products *:last-child {
  margin-bottom: 0px;
}
.products .product-review *:last-child {
  margin-bottom: 0px;
}

/*-------------products--------------*/
/*------------signup-----------*/
.signup {
  width: 100%;
  padding-bottom: 100px;
}
@media (max-width: 720px) {
  .signup {
    padding-bottom: 80px;
  }
}
@media (max-width: 555px) {
  .signup {
    padding-bottom: 60px;
  }
}
.signup__body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  border-radius: 10px;
  background-image: url("../img/decoration.png");
}
@media (max-width: 1135px) {
  .signup__body {
    padding: 40px;
  }
}
@media (max-width: 1110px) {
  .signup__body {
    padding: 40px 30px;
  }
}
@media (max-width: 1056px) {
  .signup__body {
    padding: 30px 20px;
  }
}
@media (max-width: 912px) {
  .signup__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 396px) {
  .signup__body {
    padding: 20px;
  }
}
.signup__body .signup__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-height: 325px;
  margin-right: 25px;
}
@media (max-width: 1088px) {
  .signup__body .signup__img {
    margin-right: 10px;
  }
}
@media (max-width: 1038px) {
  .signup__body .signup__img {
    margin-right: 0px;
  }
}
@media (max-width: 1020px) {
  .signup__body .signup__img {
    min-height: 270px;
  }
}
@media (max-width: 912px) {
  .signup__body .signup__img {
    min-height: 325px;
    max-width: 500px;
    margin-bottom: 20px;
    width: 100%;
  }
}
@media (max-width: 560px) {
  .signup__body .signup__img {
    min-height: 280px;
    max-width: 430px;
  }
}
@media (max-width: 490px) {
  .signup__body .signup__img {
    min-height: 195px;
    max-width: 300px;
  }
}
@media (max-width: 396px) {
  .signup__body .signup__img {
    min-height: 178px;
    max-width: 270px;
  }
}
@media (max-width: 342px) {
  .signup__body .signup__img {
    min-height: 170px;
    max-width: 258px;
  }
}
.signup__body .signup__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-left: 25px;
  padding: 8px 0px 23px 0px;
}
@media (max-width: 1088px) {
  .signup__body .signup__content {
    margin-left: 10px;
  }
}
@media (max-width: 1038px) {
  .signup__body .signup__content {
    margin-left: 0px;
  }
}
@media (max-width: 1020px) {
  .signup__body .signup__content {
    padding: 8px 0px 10px 0px;
  }
}
@media (max-width: 970px) {
  .signup__body .signup__content {
    padding: 0px 0px 0px 0px;
  }
}
.signup__body .signup__content .signup__title-row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}
@media (max-width: 490px) {
  .signup__body .signup__content .signup__title-row {
    margin-bottom: 18px;
  }
}
.signup__body .signup__content .signup__title-row span {
  height: 60px;
  width: 60px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  background: #FFFFFF;
  border-radius: 500px;
  margin-right: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 490px) {
  .signup__body .signup__content .signup__title-row span {
    width: 50px;
    height: 50px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }
}
.signup__body .signup__content .signup__title-row span img {
  width: 40px;
  height: 40px;
}
@media (max-width: 490px) {
  .signup__body .signup__content .signup__title-row span img {
    width: 30px;
    height: 30px;
  }
}
.signup__body .signup__content .signup__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #1D2F38;
  margin-bottom: 24px;
}
@media (max-width: 490px) {
  .signup__body .signup__content .signup__text {
    font-size: 15px;
  }
}
@media (max-width: 370px) {
  .signup__body .signup__content .signup__text {
    font-size: 14px;
  }
}
.signup__body .signup__content .signup__form .signup__input {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  background: #FFFFFF;
  border: 1px solid #AABCC5;
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;
  color: #536D7A;
  padding: 14px 16px;
  margin-bottom: 31px;
}
.signup__body .signup__content .signup__form .signup__input:focus {
  border-width: 1px;
}
.signup__body .signup__content .signup__form .signup__form-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.signup__body .signup__content .signup__form .signup__form-row .signup__submit {
  margin-right: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 167%;
  color: #000000;
  padding: 13px 5px;
  background: #FFC728;
  max-width: 82px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.signup__body .signup__content .signup__form .signup__form-row .signup__submit:hover {
  background: #fdbe10;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.signup__body .signup__content .signup__form *:last-child {
  margin-bottom: 0px;
}
.signup__body .signup__content *:last-child {
  margin-bottom: 0px;
}

/*------------signup-----------*/
/*-----------footer----------*/
.footer {
  width: 100%;
  padding: 59px 0px 20px 0px;
}
@media (max-width: 968px) {
  .footer {
    padding: 39px 0px 20px 0px;
  }
}
.footer__columns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
@media (max-width: 912px) {
  .footer__columns {
    margin-bottom: 45px;
  }
}
@media (max-width: 812px) {
  .footer__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.footer__columns .footer__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 356px;
          flex: 1 1 356px;
}
@media (max-width: 812px) {
  .footer__columns .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.footer__columns .footer__column:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 968px) {
  .footer__columns .footer__column:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 812px) {
  .footer__columns .footer__column:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 50px;
  }
}
.footer__columns .main-column__logo {
  width: 175px;
  height: 60px;
  margin-bottom: 11px;
  display: block;
}
@media (max-width: 497px) {
  .footer__columns .main-column__logo {
    width: 138px;
    height: 53px;
  }
}
.footer__columns .main-column__logo img {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.footer__columns .main-column .social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 19px;
}
.footer__columns .main-column .social__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  width: 40px;
  height: 40px;
}
@media (max-width: 497px) {
  .footer__columns .main-column .social__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33px;
            flex: 0 0 33px;
    width: 33px;
    height: 33px;
  }
}
.footer__columns .main-column__text {
  padding-right: 50px;
}
@media (max-width: 968px) {
  .footer__columns .main-column__text {
    padding-right: 10px;
  }
}
@media (max-width: 582px) {
  .footer__columns .main-column__text {
    font-size: 14px;
  }
}
.footer__columns .main-column__text span {
  font-weight: 700;
}
.footer__columns .main-column *:last-child {
  margin-bottom: 0px;
}
.footer__columns .latest-articles {
  padding-bottom: 20px;
}
@media (max-width: 812px) {
  .footer__columns .latest-articles {
    padding-bottom: 0px;
  }
}
.footer__columns .latest-articles__title {
  color: #333333;
  margin-bottom: 12px;
}
@media (max-width: 812px) {
  .footer__columns .latest-articles__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .footer__columns .latest-articles__title {
    font-size: 24px;
    margin-bottom: 18px;
  }
}
@media (max-width: 812px) {
  .footer__columns .latest-articles__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 582px) {
  .footer__columns .latest-articles__items {
    display: block;
  }
}
.footer__columns .latest-articles__items .latest-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 812px) {
  .footer__columns .latest-articles__items .latest-article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.33%;
            flex: 1 1 33.33%;
  }
}
@media (max-width: 582px) {
  .footer__columns .latest-articles__items .latest-article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: start;
  }
}
.footer__columns .latest-articles__items .latest-article:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 812px) {
  .footer__columns .latest-articles__items .latest-article:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0px;
  }
}
@media (max-width: 582px) {
  .footer__columns .latest-articles__items .latest-article:not(:last-child) {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}
.footer__columns .latest-articles__items .latest-article__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 139px;
          flex: 0 0 139px;
  min-height: 100px;
  border-radius: 7px;
  margin-right: 9px;
}
@media (max-width: 812px) {
  .footer__columns .latest-articles__items .latest-article__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 113px;
            flex: 0 0 113px;
    max-width: 162px;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
  }
}
@media (max-width: 582px) {
  .footer__columns .latest-articles__items .latest-article__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 139px;
            flex: 0 0 139px;
    min-height: 100px;
    border-radius: 7px;
    margin-right: 9px;
  }
}
.footer__columns .latest-articles__items .latest-article__text {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 16px;
  line-height: 112%;
  color: #1D2F38;
}
@media (max-width: 420px) {
  .footer__columns .latest-articles__items .latest-article__text {
    font-size: 14px;
  }
}
.footer__columns .latest-articles__items .latest-article:not(:first-child) .latest-article__text {
  padding-right: 30px;
}
@media (max-width: 1012px) {
  .footer__columns .latest-articles__items .latest-article:not(:first-child) .latest-article__text {
    padding-right: 0px;
  }
}
.footer__columns .latest-articles *:last-child {
  margin-bottom: 0px;
}
.footer__columns .browse__title {
  color: #333333;
  margin-bottom: 12px;
}
@media (max-width: 812px) {
  .footer__columns .browse__title {
    margin-bottom: 20px;
  }
}
@media (max-width: 420px) {
  .footer__columns .browse__title {
    font-size: 24px;
    margin-bottom: 18px;
  }
}
.footer__columns .browse__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
@media (max-width: 812px) {
  .footer__columns .browse__search {
    max-width: 550px;
  }
}
.footer__columns .browse__search .browse__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #FFFFFF;
  border: 1px solid #768F9C;
  border-radius: 5px 0px 0px 5px;
  min-height: 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 274px;
          flex: 1 1 274px;
  font-size: 12px;
  padding: 0px 16px;
}
.footer__columns .browse__search .browse__button {
  background: #768F9C;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  border-radius: 0px 5px 5px 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 12px;
  line-height: 167%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 81px;
          flex: 1 1 81px;
}
.footer__columns .browse__search .browse__button:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background: #688291;
}
.footer__columns .browse__links {
  margin-bottom: 27px;
}
.footer__columns .browse__links .browse__link:not(:last-child) {
  margin-bottom: 7px;
}
@media (max-width: 582px) {
  .footer__columns .browse__links .browse__link a {
    font-size: 14px;
  }
}
.footer__columns .browse__copy {
  padding-top: 20px;
  border-top: 1px solid #536D7A;
}
@media (max-width: 812px) {
  .footer__columns .browse__copy {
    padding-top: 0px;
    border-top: none;
  }
}
@media (max-width: 582px) {
  .footer__columns .browse__copy {
    font-size: 14px;
  }
}
.footer__columns .browse *:last-child {
  margin-bottom: 0px;
}
.footer__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 21px;
  border-top: 1px solid #536D7A;
}
.footer__bottom .footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 20px;
}
.footer__bottom .footer__links .footer__link:not(:last-child) {
  margin-right: 10px;
}
.footer__bottom .footer__text {
  color: #1D2F38;
}
.footer *:last-child {
  margin-bottom: 0px;
}

/*-----------footer----------*/
body {
  font-family: "Raleway";
}

.body-lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  width: 100%;
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 15px;
}