@font-face {
  font-family: 'icons-footer';
  src:
    url('fonts/icons-footer.ttf?c7893g') format('truetype'),
    url('fonts/icons-footer.woff?c7893g') format('woff'),
    url('fonts/icons-footer.svg?c7893g#icons-footer') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-footer' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-mail:before {
  content: "\e905";
}
._icon-phone:before {
  content: "\e904";
}
._icon-htac:before {
  content: "\e903";
  color: #666;
}
._icon-fcbk:before {
  content: "\e901";
  color: #666;
}
._icon-vk:before {
  content: "\e900";
  color: #666;
}
._icon-insta:before {
  content: "\e902";
  color: #666;
}
