/*----------------apply----------------*/
.apply {
   width: 100%;
   padding:130px 0px 170px 0px;
    @media(max-width:902px){
      padding: 80px 0px 130px 0px;
    }
    @media(max-width:632px){
      padding: 50px 0px 110px 0px;
    }
    @media(max-width:555px){
      padding: 40px 0px 100px 0px;
    } 
   //apply__container
   &__container {

   }
   //apply__body
   &__body {
     display: flex;
     @media(max-width:902px){
       flex-direction: column;
     }
     .apply__img {
       margin:0px 34px 0px -131px;
       flex:1 1 725px;
       @media(max-width:1072px){
        margin:0px 34px 0px -180px;
       }
       @media(max-width:902px){
        max-width: 615px;
        width: 100%;
        margin: 0 auto 40px auto;
        flex: 1 1 555px;
       }
       @media(max-width:632px){
         max-width: 458px;
         flex: 1 1 420px;
       }
       @media(max-width:555px){
         max-width: 410px;
         flex: 1 1 375px;
       } 
       @media(max-width:420px){
         max-width: 354px;
         flex: 1 1 327px;
       } 
     }
     .apply__content {
        margin-left:34px;
        padding:178px 0px 177px 0px;
        flex:1 1 484px;
        @media(max-width:1172px){
          padding:131px 0px 130px 0px;
        }
        @media(max-width:1032px){
          padding:111px 0px 110px 0px;
        }
        @media(max-width:902px){
          padding:0px;
          margin-left:0px;
          flex:1 1 auto;
        }
        .apply__title {
           margin-bottom:30px;
           @media(max-width:632px){
            margin-bottom:20px;
           } 
           @media(max-width:555px){
            margin-bottom:15px;
           } 
        }
        .apply__text {
           @extend %text;
           line-height: 160%;
           opacity: 0.7;
           margin-bottom:50px;
           @media(max-width:632px){
            margin-bottom:30px;
           } 
           @media(max-width:555px){
            font-size: 14px;
            margin-bottom:25px;
           } 
        }
        .apply__button {
           @extend %button;
           padding: 15px 30px;
           font-weight: 600;
           font-size: 16px;
           line-height: 22 / 16  * 100%;
        }
        *:last-child{
           margin-bottom:0px;
        }
     }
   }
   &__container {
     *:last-child{
        margin-bottom:0px;
     }
   }
}
/*----------------apply----------------*/