/*----------------fonts----------------*/
@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/Circular-Std-Book.eot');
  src: url('../fonts/Circular-Std-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Circular-Std-Book.woff2') format('woff2');
  font-weight: 450;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg'),
       url('../fonts/CircularStd-Book.ttf') format('truetype'),
       url('../fonts/CircularStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// Circular-Std-Book
@font-face {
  font-family: 'Circular Std';
  src: url('../fonts/CircularStd-Medium.svg#CircularStd-Medium') format('svg'),
       url('../fonts/CircularStd-Medium.ttf') format('truetype'),
       url('../fonts/CircularStd-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Сircular Std';
  src: url('../fonts/Сircular-Std-Medium.eot');
  src: url('../fonts/Сircular-Std-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Сircular-Std-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
// Circular-Std-Medium
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.eot');
  src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg'),
       url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),
       url('../fonts/OpenSans-SemiBold.woff') format('woff'),
       url('../fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
// OpenSans-SemiBold
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBold.eot');
  src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg'),
       url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'),
       url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
       url('../fonts/OpenSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
// OpenSans-ExtraBold
@font-face {
 font-family: 'Open Sans';
 src: url('../fonts/OpenSans-Bold.eot');
 src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
   url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
         url('../fonts/OpenSans-Bold.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold.woff') format('woff'),
         url('../fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: 700;
}
// OpenSans-Bold
  
/*----------------fonts----------------*/