/*----------------footer----------------*/
.footer {
    padding:77px 0px 145px 0px;
    width: 100%;
    position: relative;
    @media(max-width:902px){
       padding:70px 0px 120px 0px;
    }
    @media(max-width:555px){
        padding:60px 0px 100px 0px;
    }
    //footer__bg
    &__bg{
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) -41.9%, #FFFFFF 260.24%);
      opacity: 0.05;
      backdrop-filter: blur(100px);
    }
    //footer__container
    &__container {
        position: relative;
        z-index: 2;
        display: flex;
        @media(max-width:902px){
         flex-direction: column;
        }
        *:last-child{
            margin-bottom:0px;
        }
    }
    //footer__column
    &__column {
       flex: 1 1 261px;
       @media(max-width:902px){
        flex: 1 1 auto;
       }
       .footer__logo {
         margin-bottom:10px;
         @media(max-width:555px){
          margin-bottom:7px;
         }
         //footer__logo-img
         &-img {
          display: block;
          width: 45px;
          height: 58.24px;
          margin-bottom:8px;
          @media(max-width:555px){
            width: 33px;
            height: 46.24px;
            margin-bottom: 5px;
          }
          img{
            width: 100%;
            height: 100%;
          }
         }
         //footer__logo-text
         &-text {
          display: inline-block;
          font-weight: 600;
          font-size: 16px;
          line-height: 22 / 16 * 100%;
          color: #3A68B8;
          @media(max-width:555px){
            font-size: 15px;
          }
         }
        }
        //footer__column-text
        &-text{
          @extend %footer-text;
        }
        &:first-child &-text{
            margin-bottom:37px;
            @media(max-width:902px){
              margin-bottom:30px;
            }
            @media(max-width:555px){
              margin-bottom:20px;
            }
        }
        &:last-child &-text{
            margin-bottom:29px;
            @media(max-width:555px){
                margin-bottom:20px;
            }
        }
        .contacts{
          //contacts__item
          &__item {
            @extend %footer-text2; 
            &:not(:last-child){
              margin-bottom:20px;
              @media(max-width:555px){
                margin-bottom:15px;
              }
            }
            &::before{
              margin-right:9px;
            }
          }
          &__item:nth-child(1)::before{
            font-size: 10px;
          }
          &__item:nth-child(2)::before{
            font-size:13px;
          }
          &__item:nth-child(3)::before{
            font-size:16px;
          }
        }
        .footer__link {
           @extend %footer-text2;
           display: block;
           margin-bottom:21px;
           @media(max-width:555px){
            margin-bottom:18px;
           }
        }
        .socials {
            display: flex;
            margin-bottom:53px;
            @media(max-width:902px){
              margin-bottom:40px;
            }
            @media(max-width:555px){
              margin-bottom:35px;
            }
            li:not(:last-child){
               margin-right:25px;
               @media(max-width:555px){
                margin-bottom:20px;
               }
            }
            //socials__item::before
            &__item::before {
              font-size:15px;
              color: #9C9FA5;
            }
        }
        .footer__language {
          @extend %footer-text;
          opacity: 1;
          
          span{
            &:nth-child(1){
              margin-right:8px;
              &::before{
                font-size:13px;
              }
            }
            &:nth-child(2){
              margin-left:10px;
              &::before{
                font-size:6px;
              }
            }
          }
        }
        &:first-child{
          margin:0px 32px 0px 36px;
          @media(max-width:1200px){
            margin:0px 32px 0px 0px;
          }
          @media(max-width:902px){
            margin:0px 0px 50px 0px;
          }
          *:last-child{
            margin-bottom:0px;
          }
        }
        &:last-child{
          margin-right:-30px;
          @media(max-width:1200px){
            margin-right:0px;
          }
          *:last-child{
            margin-bottom:0px;
          }
        } 
        *:last-child{
            margin-bottom:0px;
        }
    }
    //footer__items
    &__items {
       flex:1 1 515px;
       margin-right:75px;
       display: flex;
       justify-content: space-between;
       @media(max-width:1172px){
        margin-right:45px;
       }
       @media(max-width:1032px){
        margin-right:20px;
       }
       @media(max-width:902px){
        margin:0px 0px 50px 0px;
        flex:1 1 auto;
       }
       @media(max-width:555px){
         flex-wrap: wrap;
         margin:0px 0px 20px 0px;
       }
       .footer-menu {
        @media(max-width:555px){
            margin-bottom:30px;
        }
        &:not(:last-child){
           margin-right:20px;
        }
        //footer-menu__list
        &__list {
            li{
                &:not(:last-child){
                    margin-bottom:20px;
                    @media(max-width:902px){
                      margin-bottom:15px;
                    }
                    @media(max-width:555px){
                      margin-bottom:13px;
                    }
                }
            }
            .footer-menu__link {
                @extend %footer-text;
            }
        }
       }
    }
    &__container{
        *:last-child:not(.footer-menu){
            margin-bottom:0px;
        }
    }
}
/*----------------footer----------------*/