/*----------------solutions----------------*/
.solutions {
    width:100%;
    padding-bottom:170px;
    @media(max-width:902px){
      padding-bottom:130px;
    }
    @media(max-width:632px){
      padding-bottom:110px;
    }
    @media(max-width:555px){
      padding-bottom:100px;
    }
   //solutions__body
   &__body {
     display: flex;
     @media(max-width:902px){
       flex-direction: column-reverse;
     }
   }
   //solutions__content
   &__content {
      position: relative;
      z-index: 2;
      flex:1 1 548px; 
      padding:44px 0px 43px 0px;
      @media(max-width:1172px){
        padding:40px 0px 39px 0px;
      }
      @media(max-width:1132px){
        padding:10px 0px 9px 0px;
      }
      @media(max-width:1072px){
        padding:10px 0px 9px 0px;
      }
      @media(max-width:1032px){
        padding:0px;
      }
      @media(max-width:902px){
        flex:1 1 auto;
        margin-top:40px;
      }
      .solutions__title {
        margin-bottom:40px;
        @media(max-width:1032px){
          margin-bottom:20px;
        }
      }
      .solutions__text {
        @extend %text;
        opacity: 0.7;
        line-height: 160%;
        padding-right: 76px;
        @media(max-width:1032px){
          font-size:15px;
        }
        @media(max-width:632px){
          padding-right: 0px;
        }
        @media(max-width:555px){
          font-size:14px;
        }
        p{
          &:not(:last-child){
            margin-bottom:22px;
            @media(max-width:1032px){
              margin-bottom:15px;
            }
            @media(max-width:902px){
              margin-bottom:22px;
            }
            @media(max-width:555px){
              margin-bottom:15px;
            }
          }
        }
      }
      *:last-child{
        margin-bottom:0px;
      }
   }
   //solutions__img
   &__img {
     position: relative;
     z-index: 1;
     margin-left:-44px;
     flex:1 1 642px;
     @media(max-width:1072px){
       margin-left:-80px;
     }
     @media(max-width:902px){
      flex: 1 1 534px;
      max-width: 621px;
      margin: 0 auto;
      width: 100%;
     }
     @media(max-width:632px){
      flex: 1 1 414px;
      max-width: 458px;
     }
     @media(max-width:555px){
       max-width:410px;
       flex:1 1 380px;
     }
     @media(max-width:420px){
       max-width: 354px;
       flex:1 1 325px;
     }
   }
   &__container {
     *:last-child{
        margin-bottom:0px;
     }
   }
}
/*----------------solutions----------------*/