/*----------------ui----------------*/
.title{
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #FFFFFF;
  @media(max-width:632px){
    font-size:38px;
  }
  @media(max-width:555px){
    font-size: 36px;
  } 
}
.footer-title{
  font-family: 'Circular Std';
  font-weight: 500;
  font-size: 16px;
  line-height: 20 / 16 * 100%;
  color: #FFFFFF;
  margin-bottom:32px;
  @media(max-width:902px){
    margin-bottom:25px;
  }
  @media(max-width:555px){
    font-size:15;
    margin-bottom:20px;
  }
}
/*----------------ui----------------*/