/*----------------slider----------------*/
.slider__container {
  overflow: hidden;
}
.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider__items .slider__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 362px;
          flex: 1 1 362px;
}
.slider__items .slider__item:not(:last-child) {
  margin-right: 30px;
}
.slider__items .slider__item:first-child {
  margin-left: -392px;
}
.slider__items .slider__item:last-child {
  margin-right: -392px;
}
/*----------------slider----------------*/