/*----------------APIs---------------*/
.apis {
    padding-top:96px;
    width:100%;
    @media(max-width: 1072px){
        padding-top:80px;
    }
    @media(max-width: 768px){
        padding-top:60px;
    }
    @media(max-width: 555px){
        padding-top:50px;
    }
    //apis__inner
    &__inner {
        display:flex;
        @media(max-width: 768px){
            flex-direction: column;
        }
    }
    //apis__body
    &__body{
        flex:1 1 423px;
        margin-right:85px;
        @media(max-width: 1072px){
            margin-right:50px;
        }
        @media(max-width: 932px){
            margin-right:25px;
        }
        @media(max-width: 768px){
            margin-right:0px;
            flex:1 1 auto;
            margin-bottom:60px;
        }
        *:last-child {
            margin-bottom:0px;
        }
    }
    //apis__title
    &__title {
        margin-bottom:12px;
        
    }
    //apis__subtitle
    &__subtitle {
        @extend %text1;
        color: #E0E0E0;
        margin-bottom:19px;
        @media(max-width: 555px){
            margin-bottom:15px;
        }
    }
    //apis__text
    &__text {
        @extend %text1;
        color: #E0E0E0;
        margin-bottom:77px;
        padding-right: 5px;
        @media(max-width: 1072px){
            margin-bottom:70px;
            padding-right:0px;
        }
        @media(max-width: 555px){
            margin-bottom:50px;
        }
    }
    .apis-facilities {      
        display: flex;
        @media(max-width: 768px){
            justify-content: space-between;
            max-width:620px;
        }
        @media(max-width: 440px){
            flex-direction: column;
        }
        //apis-facilities__item
        &__item {
            .apis-facilities__icon {
                display: block;
                width:21px;
                height:21px;
                @media(max-width: 555px){
                    width:18px;
                    height:18px;
                }
            }
            .apis-facilities__title {
                margin-bottom:19px;
                @media(max-width: 768px){
                    margin-bottom:10px;
                }
                @extend %text2;
            }
            .apis-facilities__title._small {
                margin-bottom:14px;
                font-size: 12px;
                line-height: 233%;
                color: #FFFFFF;
                @media(max-width: 768px){
                    margin-bottom:10px;
                }
            }
            .apis-facilities__text {
                @extend %text1;
                color: #E0E0E0;
            }
            .apis-facilities__coming-soon {
                font-weight: 400;
                font-size: 12px;
                line-height: 133%;
                color: #4299E1;
                padding:2px 10px;
                background: rgba(49, 130, 206, 0.1);
                border-radius: 9999px;
                display: inline-block;
            }
        }
        &__item:nth-child(1){
            margin-right:52px;
            flex:1 1 35%;
            @media(max-width: 1072px){
                margin-right:15px;
            }
            @media(max-width: 768px){
                margin-right:5px;
                flex:1 1 50%;
            }
            @media(max-width: 440px){
                margin:0px 0px 30px 0px;
            }
            .apis-facilities__icon {
                margin-bottom:16px;
                @media(max-width: 768px){
                    margin-bottom:12px;
                }
            }
            .apis-facilities__text {
               margin-bottom:18px;
               @media(max-width: 768px){
                 margin-bottom:14px;
               }
            }
            *:last-child {
                margin-bottom:0px;
            }
        }
        &__item:nth-child(2){
            margin-left:52px;
            flex:1 1 39%;
            @media(max-width: 1072px){
                margin-left:15px;
            }
            @media(max-width: 768px){
                margin-left:5px;
                flex:1 1 50%;
            }
            @media(max-width: 440px){
                margin:0px;
            }
            .apis-facilities__icon {
                margin-bottom:21px;
                @media(max-width: 768px){
                    margin-bottom:14px;
                }
            }
            .apis-facilities__text {
                margin-bottom:16px;
                @media(max-width: 768px){
                    margin-bottom:10px;
                }
            }
            *:last-child {
                margin-bottom:0px;
            }
        }
        *:last-child{
            margin-right:0px;
        }
    }
    //apis__code
    .apis__code {
        margin-left:85px;
        @media(max-width: 1072px){
            margin-left:50px;
        }
        @media(max-width: 932px){
            margin-left:25px;
        }
        @media(max-width: 768px){
            margin-left:0px;
        }
        .code__stroke._dv{
            @media(max-width: 440px){
                display: none;
            }
        }
    }
    &__container *:last-child:not(.tabs__item) {
        margin-bottom:0px;
        margin-right:0px;
    }
}
/*----------------APIs---------------*/