/*------------------build-----------------*/
.build {
    width:100%;
    padding:128px 0px;
    @media(max-width:1072px){
        padding:110px 0px;
    }
    @media(max-width:555px){
        padding:100px 0px;
    }
    //build__container
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    //build__title
    &__title{
        margin-bottom:48px;
        span{
            color: #BBBBBB;
        }
        @media(max-width:768px){
            margin-bottom:38px;
        }
        @media(max-width:555px){
            font-size:33px;
            margin-bottom:34px;
        }
    }
    //build__button
    &__button{
        padding:9px 24px;
    }
    *:last-child{
        margin-bottom:0px;
    }
}
/*------------------build-----------------*/