/*----------------store---------------*/
.store {
    width:100%;
    padding-top:128px;
    @media(max-width:1072px){
      padding-top:110px;
    }
    @media(max-width:768px){
      padding-top:90px;
    }
    @media(max-width:555px){
      padding-top:80px;
    } 
    //store__container
    &__container {
      width:100%;
      display: flex;
      align-items: center;
      @media(max-width:768px){
        flex-direction: column-reverse;
      }
    }
    //store__body
    &__body {
       flex:1 1 566px;
       margin-right:19.5px;
       @media(max-width:1072px){
          margin-right:5px;
       }
       @media(max-width:768px){
          flex:1 1 auto;
          margin-right:0px;
          padding-left:45px;
       }
       @media(max-width:555px){
         padding-left:0px;
       } 
       .store__description {
         @extend %text2;
         display: inline-flex;
         align-items: center;
         margin-bottom:27px;
         @media(max-width:1072px){
            margin-bottom:20px;
         }
         @media(max-width:768px){
            margin-bottom:10px;
         } 
         span{
           margin-right:12px;
           @media(max-width:768px){
            margin-right:6px;
           } 
           &::before{
            color: #6A6A6A;
            font-size:15px;
            @media(max-width:768px){
                font-size:14px;
            } 
           }
         }
       }
       .store__title {
          margin-bottom:57px;
          @media(max-width:1072px){
            margin-bottom:40px;
          }
          @media(max-width:768px){
            margin-bottom:30px;
          }
          @media(max-width:555px){
            margin-bottom:20px;
          }
          span{
            width: 100%;
            display:inline-block;
          }
       }
       .store__text {
         margin-bottom:64px;
         @media(max-width:1072px){
            margin-bottom:50px;
         }
         @media(max-width:768px){
            margin-bottom:40px;
         } 
         @media(max-width:555px){
            margin-bottom:30px;
         }
         @extend %text3;
         p{
           padding-right:138px;
           @media(max-width:1072px){
            padding-right: 76px;
           }
           @media(max-width:932px){
             padding-right:0px;
           }
           &:not(:last-child){
             margin-bottom:16px;
             @media(max-width:1072px){
                margin-bottom:12px;
             }
             @media(max-width:768px){
                margin-bottom:6px;
             } 
           }
         }
       }
       .store__button {
         padding-left:45px;
         @media(max-width:1072px){
           padding-left:0px;
         }
       }
       *:last-child{
        margin-bottom:0px;
       }
    }
    //store__img
    &__img {
       margin-left:19.5px;
       flex:1 1 560px;
       min-height:461px;
       @media(max-width:1072px){
        margin-left:5px;
       }
       @media(max-width:1172px){
          min-height: 440px;
       }
       @media(max-width:1072px){
          min-height: 420px;
       }
       @media(max-width:1032px){
          min-height: 390px;
       }
       @media(max-width:932px){
          min-height: 330px;
       }
       @media(max-width:768px){
          flex:1 1 auto;
          width:100%;
          margin-left:0px;
          margin-bottom:30px;
          min-height: 420px;
          max-width:500px;
       }
       @media(max-width:555px){
          margin-bottom:20px;
          min-height: 360px;
          max-width: 440px;
       }
       @media(max-width:440px){
         min-height: 264px;
         max-width: 330px;
       }
    }
    *:last-child{
      margin-bottom:0px;
    }
}
/*----------------store---------------*/