/*--------------supabase-auth-------------*/
.supabase-auth{
    width:100%;
    margin-top:-31px;
    padding:143px 0px 96px 0px;
    border-top:1px solid #2A2A2A;
    border-bottom:1px solid #2A2A2A;
    @media(max-width:1072px){
        margin-top:4px;
        padding:120px 0px 80px 0px;
    }
    @media(max-width:768px){
        padding:100px 0px 70px 0px;
    }
    //supabase-auth__container 
    &__container {

    }
    //supabase-auth__inner
    &__inner {
        display: flex;
        @media(max-width:768px){
            flex-direction: column;
        }
    }
    //supabase-auth__body
    &__body {
        flex:1 1 424px;
        margin-right:84px;
        @media(max-width:1072px){
            margin-right:45px;
        }
        @media(max-width:932px){
            margin-right:30px;
        }
        @media(max-width:768px){
            flex:1 1 auto;
            margin:0px 0px 60px 0px;
            max-width:620px;
        }
        *:last-child{
            margin-bottom:0px;
        }
    }
    //supabase-auth__title
    &__title { 
        margin-bottom:21px;
        padding-right: 55px;
        @media(max-width:932px){
            padding-right:0px;
        }
        @media(max-width:768px){
            margin-bottom:14px;
        }
    }
    //supabase-auth__subtitle
    &__subtitle {
        margin-bottom:42px;
        @extend %text3;
        @media(max-width:768px){
            margin-bottom:25px;
        }
    }
    //supabase-auth__text
    &__text {
        margin-bottom:29px;
        @extend %text1;
        color: #E0E0E0;
        @media(max-width:555px){
            margin-bottom:17px;
        }
    }
    //supabase-auth__button
    &__button {
        display: inline-flex;
        padding:9px 16px;
        @extend %text3;
        line-height:114%;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: #2A2A2A;
        box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
        border-radius: 4px;
        &::before{
            content:'';
            display: block;
            background-image: url('../img/icons/arrow.svg');
            width:18px;
            flex:0 0 18px;
            height:18px;
            margin-right:10px;
        }
    }
    //supabase-auth__code
    &__code {
        margin-left:84px;
        @media(max-width:1072px){
            margin-left:45px;
        }
        @media(max-width:932px){
            margin-left:30px;
        }
        @media(max-width:768px){
            flex:1 1 auto;
            margin-left:0px;
            max-width:620px;
        }
        .tabs{
            &__item:not(:last-child){
                margin-right:10px;
            } 
        }
        .code__window{
            padding-bottom:0px;
            .code__list{
                &::after {
                    display: none;
                }
                li span._blue._ml{
                    margin-right:0px;
                }
                @media(max-width:440px){
                    padding-top:40px;
                }
            } 
            
           .code__info{
                padding:33px 10px 100px 33px;
                @media(max-width:1072px){
                    padding:33px 10px 75px 33px;
                }
                @media(max-width:932px){
                    padding:18px 10px 70px 18px;
                }
                @media(max-width:440px){
                    padding:18px 10px 50px 18px;
                }
                .code__title{
                    @extend %text2;
                    font-family: 'Roboto';
                    margin-bottom:16px;
                }
                .code__text{
                    @extend %text1;
                    font-family: 'Roboto';
                    color: #666666;
                }
                *:last-child{
                    margin-bottom:0px;
                }
           }
        }
    }
    *:last-child{
        margin-bottom:0px;
    }
}
/*--------------supabase-auth-------------*/