%bg-base{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
%text1{
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: #EEEEEE;
    @media(max-width:768px){
        font-size:13px;
    }
}
%text2{
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #FFFFFF;
    @media(max-width:768px){
        font-size:17px;
    }
    @media(max-width:555px){
        font-size:16px;
    }
}
%text3{
    font-weight: 400;
    font-size: 14px;
    line-height:200%;
    color: #E0E0E0;
    @media(max-width:768px){
        font-size:13px;
    }
}
%menu-text{
    font-weight: 400;
    font-size: 12px;
    line-height:133%;
    color: #666666;
}
