@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Code+Pro&display=swap"); /*---------ibg---------*/
.ibg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.ibg img {
  display: none;
}

/*---------ibg---------*/
/*---null---*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

/*---null---*/
.header__body .menu li._arrow .menu__link::after {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__top .footer__items .footer__item-link a, .footer__top .footer__items .footer__item-title, .supabase-auth__code .code__window .code__info .code__text, .supabase-auth__text, .apis .apis-facilities__item .apis-facilities__text, .apis__text, .apis__subtitle, .dashboard__body .dashboard__additional .dashboard__git, .dashboard__body .dashboard__additional .example-app .profile-management__creator, .dashboard__body .dashboard__additional .example-app .profile-management__text, .dashboard__text, .header__body .entrance__sign-in, .header__body .menu__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #EEEEEE;
}
@media (max-width: 768px) {
  .footer__top .footer__items .footer__item-link a, .footer__top .footer__items .footer__item-title, .supabase-auth__code .code__window .code__info .code__text, .supabase-auth__text, .apis .apis-facilities__item .apis-facilities__text, .apis__text, .apis__subtitle, .dashboard__body .dashboard__additional .dashboard__git, .dashboard__body .dashboard__additional .example-app .profile-management__creator, .dashboard__body .dashboard__additional .example-app .profile-management__text, .dashboard__text, .header__body .entrance__sign-in, .header__body .menu__link {
    font-size: 13px;
  }
}

.supabase-auth__code .code__window .code__info .code__title, .apis .apis-facilities__item .apis-facilities__title, .dashboard__body .dashboard__additional .example-app__title, .dashboard__body .dashboard__additional .file-previews__title, .dashboard__subtitle, .advantages__items .advantage__text, .advantages__items .advantage__title, .store__body .store__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .supabase-auth__code .code__window .code__info .code__title, .apis .apis-facilities__item .apis-facilities__title, .dashboard__body .dashboard__additional .example-app__title, .dashboard__body .dashboard__additional .file-previews__title, .dashboard__subtitle, .advantages__items .advantage__text, .advantages__items .advantage__title, .store__body .store__description {
    font-size: 17px;
  }
}
@media (max-width: 555px) {
  .supabase-auth__code .code__window .code__info .code__title, .apis .apis-facilities__item .apis-facilities__title, .dashboard__body .dashboard__additional .example-app__title, .dashboard__body .dashboard__additional .file-previews__title, .dashboard__subtitle, .advantages__items .advantage__text, .advantages__items .advantage__title, .store__body .store__description {
    font-size: 16px;
  }
}

.supabase-auth__button, .supabase-auth__subtitle, .store__body .store__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #E0E0E0;
}
@media (max-width: 768px) {
  .supabase-auth__button, .supabase-auth__subtitle, .store__body .store__text {
    font-size: 13px;
  }
}

._white-icon {
  background: #FFFFFF;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 32px;
  flex: 0 0 32px;
  height: 32px;
}
@media (max-width: 768px) {
  ._white-icon {
    width: 28px;
    flex: 0 0 28px;
    height: 28px;
  }
}

.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .title {
    font-size: 46px;
  }
}
@media (max-width: 555px) {
  .title {
    font-size: 42px;
  }
}

.small-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  color: #FFFFFF;
}

._green-button {
  padding: 9px 22.5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 143%;
  color: #FFFFFF;
  font-weight: 400;
  background-color: #24B47E;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  transition-duration: 0.3s;
}
@media (max-width: 768px) {
  ._green-button {
    font-size: 13px;
  }
}
._green-button:hover {
  transition-duration: 0.3s;
  background-color: #1b8f64;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 11px;
}
.tabs__item {
  display: block;
  padding: 6px 10px;
  margin-bottom: 5px;
}
.tabs__item:not(:last-child) {
  margin-right: 12px;
}
.tabs__item a {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #666666;
}
.tabs__item.active {
  background: #2A2A2A;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  padding: 7px 11px;
}
.tabs__item.active a {
  color: #FFFFFF;
}

._gl-padding {
  padding-left: 38px;
  padding-right: 7px;
}
@media (max-width: 1072px) {
  ._gl-padding {
    padding: 0px;
  }
}
@media (max-width: 768px) {
  ._gl-padding {
    padding-left: 45px;
  }
}
@media (max-width: 555px) {
  ._gl-padding {
    padding-left: 0px;
  }
}

.code {
  flex: 1 1 526px;
}
@media (max-width: 768px) {
  .code {
    max-width: 620px;
    flex: 1 1 auto;
  }
}
.code__window {
  font-family: "Source Code Pro";
  border: 1px solid #2A2A2A;
  border-radius: 6px;
  padding: 0px 85px 44px 0px;
  position: relative;
}
@media (max-width: 932px) {
  .code__window {
    padding-bottom: 20px;
  }
}
@media (max-width: 555px) {
  .code__window {
    padding: 0px 73px 15px 0px;
  }
}
@media (max-width: 440px) {
  .code__window {
    padding: 0px 5px 15px 0px;
  }
}
.code__window .code__copy {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 7px 11.5px;
  border: 1px solid #666666;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  display: inline-flex;
  font-size: 12px;
  line-height: 133%;
  color: #FFFFFF;
}
@media (max-width: 555px) {
  .code__window .code__copy {
    padding: 5px 6px;
  }
}
.code__window .code__copy::before {
  content: "";
  display: block;
  background-image: url("../img/icons/copy.svg");
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
.code__window .code__list {
  width: 100%;
  padding: 12px 0px;
}
@media (max-width: 440px) {
  .code__window .code__list {
    padding: 35px 0px 12px 0px;
  }
}
.code__window .code__list::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 44px;
  width: 100%;
  height: 1px;
  background-color: #2A2A2A;
}
@media (max-width: 932px) {
  .code__window .code__list::after {
    bottom: 20px;
  }
}
@media (max-width: 555px) {
  .code__window .code__list::after {
    bottom: 15px;
  }
}
.code__window .code__list li {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: #DDDDDD;
}
.code__window .code__list .code__stroke {
  display: flex;
  align-items: center;
  padding: 4px 12px 3.4px 29px;
  background: #1E1E1E;
  margin-right: 12px;
  font-family: "Source Code Pro";
  font-size: 12px;
  line-height: 120%;
  color: #828282;
}
.code__window .code__list .code__stroke._dv {
  padding-left: 22px;
}
.code__window .code__list ._comment {
  font-weight: 400;
  font-size: 11px;
  line-height: 131%;
  color: #75715E;
}
.code__window .code__list ._blue {
  color: #569CD6;
}
.code__window .code__list ._blue._ml {
  margin-left: 14px;
  margin-right: 3px;
}
.code__window .code__list ._green {
  margin-left: 15px;
  color: #3ECF8E;
}
.code__window .code__list ._small {
  font-size: 11px;
  line-height: 131%;
}
body {
  font-family: "Roboto";
  font-weight: 400;
  color: #E0E0E0;
  background-color: #181818;
}

.body-lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  height: 100%;
  flex: 1 1 auto;
}

._container {
  max-width: 1195px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

/*----------------header--------------*/
.header {
  width: 100%;
  padding: 16px 0px 16px 45px;
}
@media (max-width: 1072px) {
  .header {
    padding: 16px 0px;
  }
}
@media (max-width: 555px) {
  .header {
    padding: 12px 0px;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header__container {
    justify-content: space-between;
  }
}
.header__logo {
  width: 123px;
  height: 24px;
  flex: 0 0 123px;
  margin-right: 44px;
}
@media (max-width: 1072px) {
  .header__logo {
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    margin-right: 10px;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__burger {
  display: none;
  position: relative;
  z-index: 5;
  width: 25px;
  bottom: 14px;
}
.header__burger span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  transition-duration: 0.3s;
}
.header__burger span:nth-child(1) {
  top: 7px;
}
.header__burger span:nth-child(2) {
  top: 14px;
}
.header__burger span:nth-child(3) {
  top: 21px;
}
.header__burger.active span {
  transition-duration: 0.3s;
}
.header__burger.active span:nth-child(1) {
  top: 14px;
  transform: rotate(45deg);
}
.header__burger.active span:nth-child(2) {
  transform: scale(0);
}
.header__burger.active span:nth-child(3) {
  top: 14px;
  transform: rotate(-45deg);
}
@media (max-width: 768px) {
  .header__burger {
    display: block;
  }
}
.header__body {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__body {
    position: fixed;
    transition-duration: 0.3s;
    z-index: 3;
    top: 0;
    right: -75%;
    width: 50%;
    height: 100%;
    background-color: #2e2d2d;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 40px 40px 15px 15px;
    align-items: flex-start;
  }
}
@media (max-width: 555px) {
  .header__body {
    width: 75%;
  }
}
.header__body.active {
  right: 0;
  transition-duration: 0.3s;
}
.header__body .menu {
  margin-right: 5px;
}
@media (max-width: 768px) {
  .header__body .menu {
    margin-right: 0px;
    height: 100%;
  }
}
.header__body .menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .header__body .menu__list {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__body .menu li:not(:last-child) {
  margin-right: 25px;
}
@media (max-width: 1072px) {
  .header__body .menu li:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .header__body .menu li:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 25px;
  }
}
.header__body .menu li._arrow {
  margin-right: 37px;
}
@media (max-width: 1072px) {
  .header__body .menu li._arrow {
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .header__body .menu li._arrow {
    margin-right: 0px;
  }
}
.header__body .menu li._arrow .menu__link {
  display: inline-flex;
  align-items: center;
}
.header__body .menu li._arrow .menu__link::after {
  content: "";
  display: block;
  margin-left: 13px;
  background-image: url("../img/icons/white-arrow.svg");
  width: 10px;
  height: 6px;
  flex: 0 0 10px;
}
@media (max-width: 768px) {
  .header__body .menu li._arrow .menu__link::after {
    width: 14px;
    height: 8px;
    flex: 0 0 14px;
  }
}
@media (max-width: 768px) {
  .header__body .menu__link {
    font-size: 25px;
  }
}
.header__body .entrance {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .header__body .entrance {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__body .entrance__button {
  margin-right: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px 17px;
  background: #24B47E;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 4px;
  transition-duration: 0.3s;
}
.header__body .entrance__button:hover {
  transition-duration: 0.3s;
  background-color: #1b8f64;
}
@media (max-width: 768px) {
  .header__body .entrance__button {
    margin: 0px 0px 20px 0px;
    font-size: 18px;
  }
}
.header__body .entrance__sign-in {
  font-weight: 700;
}
@media (max-width: 768px) {
  .header__body .entrance__sign-in {
    font-size: 25px;
    margin-bottom: 30px;
  }
}

/*----------------header--------------*/
/*----------------store---------------*/
.store {
  width: 100%;
  padding-top: 128px;
}
@media (max-width: 1072px) {
  .store {
    padding-top: 110px;
  }
}
@media (max-width: 768px) {
  .store {
    padding-top: 90px;
  }
}
@media (max-width: 555px) {
  .store {
    padding-top: 80px;
  }
}
.store__container {
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .store__container {
    flex-direction: column-reverse;
  }
}
.store__body {
  flex: 1 1 566px;
  margin-right: 19.5px;
}
@media (max-width: 1072px) {
  .store__body {
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .store__body {
    flex: 1 1 auto;
    margin-right: 0px;
    padding-left: 45px;
  }
}
@media (max-width: 555px) {
  .store__body {
    padding-left: 0px;
  }
}
.store__body .store__description {
  display: inline-flex;
  align-items: center;
  margin-bottom: 27px;
}
@media (max-width: 1072px) {
  .store__body .store__description {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .store__body .store__description {
    margin-bottom: 10px;
  }
}
.store__body .store__description span {
  margin-right: 12px;
}
@media (max-width: 768px) {
  .store__body .store__description span {
    margin-right: 6px;
  }
}
.store__body .store__description span::before {
  color: #6A6A6A;
  font-size: 15px;
}
@media (max-width: 768px) {
  .store__body .store__description span::before {
    font-size: 14px;
  }
}
.store__body .store__title {
  margin-bottom: 57px;
}
@media (max-width: 1072px) {
  .store__body .store__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .store__body .store__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 555px) {
  .store__body .store__title {
    margin-bottom: 20px;
  }
}
.store__body .store__title span {
  width: 100%;
  display: inline-block;
}
.store__body .store__text {
  margin-bottom: 64px;
}
@media (max-width: 1072px) {
  .store__body .store__text {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .store__body .store__text {
    margin-bottom: 40px;
  }
}
@media (max-width: 555px) {
  .store__body .store__text {
    margin-bottom: 30px;
  }
}
.store__body .store__text p {
  padding-right: 138px;
}
@media (max-width: 1072px) {
  .store__body .store__text p {
    padding-right: 76px;
  }
}
@media (max-width: 932px) {
  .store__body .store__text p {
    padding-right: 0px;
  }
}
.store__body .store__text p:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 1072px) {
  .store__body .store__text p:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media (max-width: 768px) {
  .store__body .store__text p:not(:last-child) {
    margin-bottom: 6px;
  }
}
.store__body .store__button {
  padding-left: 45px;
}
@media (max-width: 1072px) {
  .store__body .store__button {
    padding-left: 0px;
  }
}
.store__body *:last-child {
  margin-bottom: 0px;
}
.store__img {
  margin-left: 19.5px;
  flex: 1 1 560px;
  min-height: 461px;
}
@media (max-width: 1072px) {
  .store__img {
    margin-left: 5px;
  }
}
@media (max-width: 1172px) {
  .store__img {
    min-height: 440px;
  }
}
@media (max-width: 1072px) {
  .store__img {
    min-height: 420px;
  }
}
@media (max-width: 1032px) {
  .store__img {
    min-height: 390px;
  }
}
@media (max-width: 932px) {
  .store__img {
    min-height: 330px;
  }
}
@media (max-width: 768px) {
  .store__img {
    flex: 1 1 auto;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;
    min-height: 420px;
    max-width: 500px;
  }
}
@media (max-width: 555px) {
  .store__img {
    margin-bottom: 20px;
    min-height: 360px;
    max-width: 440px;
  }
}
@media (max-width: 440px) {
  .store__img {
    min-height: 264px;
    max-width: 330px;
  }
}
.store *:last-child {
  margin-bottom: 0px;
}

/*----------------store---------------*/
/*----------------advantages---------------*/
.advantages {
  padding: 96px 0px;
}
@media (max-width: 768px) {
  .advantages {
    padding: 86px 0px 50px 0px;
  }
}
.advantages__items {
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1072px) {
  .advantages__items {
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .advantages__items {
    flex-wrap: wrap;
    margin: 0 -10px;
  }
}
@media (max-width: 555px) {
  .advantages__items {
    margin: 0px;
  }
}
.advantages__items .advantage {
  flex: 1 1 280px;
}
@media (max-width: 555px) {
  .advantages__items .advantage {
    flex: 1 1 100%;
  }
}
.advantages__items .advantage:first-child {
  margin-right: 46.5px;
}
@media (max-width: 1072px) {
  .advantages__items .advantage:first-child {
    margin-right: 20px;
  }
}
.advantages__items .advantage:last-child {
  margin-left: 46.5px;
}
@media (max-width: 1072px) {
  .advantages__items .advantage:last-child {
    margin-left: 20px;
  }
}
.advantages__items .advantage:not(:last-child, :first-child) {
  margin: 0px 46.5px;
}
@media (max-width: 1072px) {
  .advantages__items .advantage:not(:last-child, :first-child) {
    margin: 0px 20px;
  }
}
@media (max-width: 768px) {
  .advantages__items .advantage:last-child, .advantages__items .advantage:first-child, .advantages__items .advantage:not(:last-child, :first-child) {
    margin: 0px 10px;
    margin-bottom: 30px;
  }
}
@media (max-width: 555px) {
  .advantages__items .advantage:last-child, .advantages__items .advantage:first-child, .advantages__items .advantage:not(:last-child, :first-child) {
    margin: 0px 0px 25px 0px;
  }
}
.advantages__items .advantage__icons {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .advantages__items .advantage__icons {
    margin-bottom: 12px;
  }
}
.advantages__items .advantage__icons-icon::before {
  font-size: 12px;
  color: #C4C4C4;
}
@media (max-width: 768px) {
  .advantages__items .advantage__icons-icon::before {
    font-size: 11px;
  }
}
.advantages__items .advantage__icons-cross {
  display: block;
  flex: 0 0 10.5px;
  width: 10.5px;
  height: 10.5px;
  margin: 0px 13.25px;
}
@media (max-width: 768px) {
  .advantages__items .advantage__icons-cross {
    width: 10px;
    height: 10px;
    margin: 0px 12px;
  }
}
.advantages__items .advantage__icon {
  display: block;
  width: 21px;
  height: 21px;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .advantages__items .advantage__icon {
    margin-bottom: 12px;
    width: 18px;
    height: 18px;
  }
}
.advantages__items .advantage__title {
  margin-bottom: 18px;
}
@media (max-width: 768px) {
  .advantages__items .advantage__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 555px) {
  .advantages__items .advantage__title {
    margin-bottom: 7px;
  }
}
.advantages__items .advantage__text {
  color: #E0E0E0;
}
.advantages__items .advantage__text._small {
  font-size: 13px;
  line-height: 215%;
  color: #E0E0E0;
}
@media (max-width: 555px) {
  .advantages__items .advantage__text._small {
    font-size: 12px;
  }
}
.advantages__items .advantage *:last-child {
  margin-bottom: 0px;
}

/*----------------advantages---------------*/
/*----------------dashboard---------------*/
.dashboard {
  width: 100%;
  padding: 95px 0px 127px 0px;
}
@media (max-width: 1072px) {
  .dashboard {
    padding: 80px 0px 100px 0px;
  }
}
@media (max-width: 768px) {
  .dashboard {
    padding: 70px 0px 90px 0px;
  }
}
@media (max-width: 768px) {
  .dashboard {
    padding: 60px 0px 80px 0px;
  }
}
@media (max-width: 768px) {
  .dashboard__inner {
    padding-right: 10px;
  }
}
.dashboard__title {
  color: #FFFFFF;
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .dashboard__title {
    margin-bottom: 10px;
  }
}
.dashboard__subtitle {
  margin-bottom: 16px;
  color: #E0E0E0;
}
@media (max-width: 768px) {
  .dashboard__subtitle {
    margin-bottom: 10px;
  }
}
.dashboard__text {
  color: #E0E0E0;
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .dashboard__text {
    margin-bottom: 50px;
  }
}
@media (max-width: 555px) {
  .dashboard__text {
    margin-bottom: 45px;
  }
}
.dashboard__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .dashboard__body {
    flex-direction: column;
  }
}
.dashboard__body .dashboard-views {
  flex: 1 1 560px;
  margin-right: 93.5px;
}
@media (max-width: 1072px) {
  .dashboard__body .dashboard-views {
    margin-right: 50px;
  }
}
@media (max-width: 972px) {
  .dashboard__body .dashboard-views {
    margin-right: 30px;
    flex: 1 1 600px;
  }
}
@media (max-width: 832px) {
  .dashboard__body .dashboard-views {
    margin-right: 25px;
  }
}
@media (max-width: 768px) {
  .dashboard__body .dashboard-views {
    margin: 0px 0px 40px 0px;
    flex: 1 1 100%;
    width: 100%;
  }
}
.dashboard__body .dashboard-views__img {
  width: 100%;
  min-height: 369px;
}
@media (max-width: 920px) {
  .dashboard__body .dashboard-views__img {
    min-height: 350px;
  }
}
@media (max-width: 768px) {
  .dashboard__body .dashboard-views__img {
    min-height: 370px;
    max-width: 615px;
  }
}
@media (max-width: 555px) {
  .dashboard__body .dashboard-views__img {
    min-height: 325px;
  }
}
@media (max-width: 440px) {
  .dashboard__body .dashboard-views__img {
    min-height: 217px;
  }
}
.dashboard__body .dashboard__additional {
  flex: 1 1 373px;
  margin-left: 93.5px;
  padding-bottom: 21px;
  border-bottom: 1px solid #2A2A2A;
}
@media (max-width: 1072px) {
  .dashboard__body .dashboard__additional {
    margin-left: 50px;
  }
}
@media (max-width: 972px) {
  .dashboard__body .dashboard__additional {
    margin-left: 30px;
    flex: 1 1 340px;
  }
}
@media (max-width: 832px) {
  .dashboard__body .dashboard__additional {
    margin-left: 25px;
  }
}
@media (max-width: 768px) {
  .dashboard__body .dashboard__additional {
    margin-left: 0px;
    flex: 1 1 100%;
    width: 100%;
  }
}
.dashboard__body .dashboard__additional .file-previews {
  margin-bottom: 44px;
}
@media (max-width: 768px) {
  .dashboard__body .dashboard__additional .file-previews {
    margin-bottom: 30px;
  }
}
.dashboard__body .dashboard__additional .file-previews__title {
  margin-bottom: 20px;
}
@media (max-width: 555px) {
  .dashboard__body .dashboard__additional .file-previews__title {
    margin-bottom: 12px;
  }
}
.dashboard__body .dashboard__additional .file-previews__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #E0E0E0;
  padding-right: 43px;
}
@media (max-width: 1072px) {
  .dashboard__body .dashboard__additional .file-previews__text {
    padding-right: 0px;
  }
}
.dashboard__body .dashboard__additional .example-app {
  margin-bottom: 21px;
}
@media (max-width: 555px) {
  .dashboard__body .dashboard__additional .example-app {
    margin-bottom: 15px;
  }
}
.dashboard__body .dashboard__additional .example-app__title {
  margin-bottom: 16px;
}
.dashboard__body .dashboard__additional .example-app .profile-management {
  padding: 21px 0px 23px 21px;
  width: 100%;
  background: #1F1F1F;
  border-radius: 4px 4px 0px 0px;
}
@media (max-width: 1072px) {
  .dashboard__body .dashboard__additional .example-app .profile-management {
    padding: 21px 14px 23px 21px;
  }
}
@media (max-width: 832px) {
  .dashboard__body .dashboard__additional .example-app .profile-management {
    padding: 18px 14px 18px 18px;
  }
}
@media (max-width: 768px) {
  .dashboard__body .dashboard__additional .example-app .profile-management {
    max-width: 615px;
  }
}
.dashboard__body .dashboard__additional .example-app .profile-management__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  .dashboard__body .dashboard__additional .example-app .profile-management__title {
    margin-bottom: 6px;
  }
}
.dashboard__body .dashboard__additional .example-app .profile-management__text {
  font-size: 13px;
  color: #E0E0E0;
  margin-bottom: 18px;
}
@media (max-width: 768px) {
  .dashboard__body .dashboard__additional .example-app .profile-management__text {
    margin-bottom: 14px;
  }
}
.dashboard__body .dashboard__additional .example-app .profile-management__creator {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  color: #E0E0E0;
}
.dashboard__body .dashboard__additional .example-app .profile-management__creator span {
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
}
.dashboard__body .dashboard__additional .example-app .profile-management__creator span::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/logotypes/creator.png");
  margin-right: 8px;
}
.dashboard__body .dashboard__additional .example-app .profile-management *:last-child {
  margin-bottom: 0px;
}
.dashboard__body .dashboard__additional .dashboard__git {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  color: #E0E0E0;
}
.dashboard__body .dashboard__additional .dashboard__git::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../img/icons/git.svg");
  margin-left: 4px;
}
.dashboard__body .dashboard__additional .dashboard__button {
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 7px 9px 8px 11px;
  background: #1374EF;
  border-radius: 4px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.dashboard__body .dashboard__additional .dashboard__button::before {
  font-size: 12px;
  margin-right: 10px;
}
.dashboard__body .dashboard__additional .dashboard__button span {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  padding-left: 7px;
}
.dashboard__body .dashboard__additional .dashboard__button span::before {
  content: "";
  display: block;
  width: 1px;
  height: 800%;
  background: #1269D3;
  position: absolute;
  top: -350%;
  left: 0;
}
@media (max-width: 555px) {
  .dashboard__body .dashboard__additional .dashboard__button span {
    font-size: 13px;
  }
}
.dashboard__body .dashboard__additional *:last-child {
  margin-bottom: 0px;
}
.dashboard__container *:last-child:not(.tabs__item) {
  margin-bottom: 0px;
}

/*----------------dashboard---------------*/
/*----------------APIs---------------*/
.apis {
  padding-top: 96px;
  width: 100%;
}
@media (max-width: 1072px) {
  .apis {
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
  .apis {
    padding-top: 60px;
  }
}
@media (max-width: 555px) {
  .apis {
    padding-top: 50px;
  }
}
.apis__inner {
  display: flex;
}
@media (max-width: 768px) {
  .apis__inner {
    flex-direction: column;
  }
}
.apis__body {
  flex: 1 1 423px;
  margin-right: 85px;
}
@media (max-width: 1072px) {
  .apis__body {
    margin-right: 50px;
  }
}
@media (max-width: 932px) {
  .apis__body {
    margin-right: 25px;
  }
}
@media (max-width: 768px) {
  .apis__body {
    margin-right: 0px;
    flex: 1 1 auto;
    margin-bottom: 60px;
  }
}
.apis__body *:last-child {
  margin-bottom: 0px;
}
.apis__title {
  margin-bottom: 12px;
}
.apis__subtitle {
  color: #E0E0E0;
  margin-bottom: 19px;
}
@media (max-width: 555px) {
  .apis__subtitle {
    margin-bottom: 15px;
  }
}
.apis__text {
  color: #E0E0E0;
  margin-bottom: 77px;
  padding-right: 5px;
}
@media (max-width: 1072px) {
  .apis__text {
    margin-bottom: 70px;
    padding-right: 0px;
  }
}
@media (max-width: 555px) {
  .apis__text {
    margin-bottom: 50px;
  }
}
.apis .apis-facilities {
  display: flex;
}
@media (max-width: 768px) {
  .apis .apis-facilities {
    justify-content: space-between;
    max-width: 620px;
  }
}
@media (max-width: 440px) {
  .apis .apis-facilities {
    flex-direction: column;
  }
}
.apis .apis-facilities__item .apis-facilities__icon {
  display: block;
  width: 21px;
  height: 21px;
}
@media (max-width: 555px) {
  .apis .apis-facilities__item .apis-facilities__icon {
    width: 18px;
    height: 18px;
  }
}
.apis .apis-facilities__item .apis-facilities__title {
  margin-bottom: 19px;
}
@media (max-width: 768px) {
  .apis .apis-facilities__item .apis-facilities__title {
    margin-bottom: 10px;
  }
}
.apis .apis-facilities__item .apis-facilities__title._small {
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 233%;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .apis .apis-facilities__item .apis-facilities__title._small {
    margin-bottom: 10px;
  }
}
.apis .apis-facilities__item .apis-facilities__text {
  color: #E0E0E0;
}
.apis .apis-facilities__item .apis-facilities__coming-soon {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #4299E1;
  padding: 2px 10px;
  background: rgba(49, 130, 206, 0.1);
  border-radius: 9999px;
  display: inline-block;
}
.apis .apis-facilities__item:nth-child(1) {
  margin-right: 52px;
  flex: 1 1 35%;
}
@media (max-width: 1072px) {
  .apis .apis-facilities__item:nth-child(1) {
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .apis .apis-facilities__item:nth-child(1) {
    margin-right: 5px;
    flex: 1 1 50%;
  }
}
@media (max-width: 440px) {
  .apis .apis-facilities__item:nth-child(1) {
    margin: 0px 0px 30px 0px;
  }
}
.apis .apis-facilities__item:nth-child(1) .apis-facilities__icon {
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .apis .apis-facilities__item:nth-child(1) .apis-facilities__icon {
    margin-bottom: 12px;
  }
}
.apis .apis-facilities__item:nth-child(1) .apis-facilities__text {
  margin-bottom: 18px;
}
@media (max-width: 768px) {
  .apis .apis-facilities__item:nth-child(1) .apis-facilities__text {
    margin-bottom: 14px;
  }
}
.apis .apis-facilities__item:nth-child(1) *:last-child {
  margin-bottom: 0px;
}
.apis .apis-facilities__item:nth-child(2) {
  margin-left: 52px;
  flex: 1 1 39%;
}
@media (max-width: 1072px) {
  .apis .apis-facilities__item:nth-child(2) {
    margin-left: 15px;
  }
}
@media (max-width: 768px) {
  .apis .apis-facilities__item:nth-child(2) {
    margin-left: 5px;
    flex: 1 1 50%;
  }
}
@media (max-width: 440px) {
  .apis .apis-facilities__item:nth-child(2) {
    margin: 0px;
  }
}
.apis .apis-facilities__item:nth-child(2) .apis-facilities__icon {
  margin-bottom: 21px;
}
@media (max-width: 768px) {
  .apis .apis-facilities__item:nth-child(2) .apis-facilities__icon {
    margin-bottom: 14px;
  }
}
.apis .apis-facilities__item:nth-child(2) .apis-facilities__text {
  margin-bottom: 16px;
}
@media (max-width: 768px) {
  .apis .apis-facilities__item:nth-child(2) .apis-facilities__text {
    margin-bottom: 10px;
  }
}
.apis .apis-facilities__item:nth-child(2) *:last-child {
  margin-bottom: 0px;
}
.apis .apis-facilities *:last-child {
  margin-right: 0px;
}
.apis .apis__code {
  margin-left: 85px;
}
@media (max-width: 1072px) {
  .apis .apis__code {
    margin-left: 50px;
  }
}
@media (max-width: 932px) {
  .apis .apis__code {
    margin-left: 25px;
  }
}
@media (max-width: 768px) {
  .apis .apis__code {
    margin-left: 0px;
  }
}
@media (max-width: 440px) {
  .apis .apis__code .code__stroke._dv {
    display: none;
  }
}
.apis__container *:last-child:not(.tabs__item) {
  margin-bottom: 0px;
  margin-right: 0px;
}

/*----------------APIs---------------*/
/*--------------supabase-auth-------------*/
.supabase-auth {
  width: 100%;
  margin-top: -31px;
  padding: 143px 0px 96px 0px;
  border-top: 1px solid #2A2A2A;
  border-bottom: 1px solid #2A2A2A;
}
@media (max-width: 1072px) {
  .supabase-auth {
    margin-top: 4px;
    padding: 120px 0px 80px 0px;
  }
}
@media (max-width: 768px) {
  .supabase-auth {
    padding: 100px 0px 70px 0px;
  }
}
.supabase-auth__inner {
  display: flex;
}
@media (max-width: 768px) {
  .supabase-auth__inner {
    flex-direction: column;
  }
}
.supabase-auth__body {
  flex: 1 1 424px;
  margin-right: 84px;
}
@media (max-width: 1072px) {
  .supabase-auth__body {
    margin-right: 45px;
  }
}
@media (max-width: 932px) {
  .supabase-auth__body {
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .supabase-auth__body {
    flex: 1 1 auto;
    margin: 0px 0px 60px 0px;
    max-width: 620px;
  }
}
.supabase-auth__body *:last-child {
  margin-bottom: 0px;
}
.supabase-auth__title {
  margin-bottom: 21px;
  padding-right: 55px;
}
@media (max-width: 932px) {
  .supabase-auth__title {
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .supabase-auth__title {
    margin-bottom: 14px;
  }
}
.supabase-auth__subtitle {
  margin-bottom: 42px;
}
@media (max-width: 768px) {
  .supabase-auth__subtitle {
    margin-bottom: 25px;
  }
}
.supabase-auth__text {
  margin-bottom: 29px;
  color: #E0E0E0;
}
@media (max-width: 555px) {
  .supabase-auth__text {
    margin-bottom: 17px;
  }
}
.supabase-auth__button {
  display: inline-flex;
  padding: 9px 16px;
  line-height: 114%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #2A2A2A;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  border-radius: 4px;
}
.supabase-auth__button::before {
  content: "";
  display: block;
  background-image: url("../img/icons/arrow.svg");
  width: 18px;
  flex: 0 0 18px;
  height: 18px;
  margin-right: 10px;
}
.supabase-auth__code {
  margin-left: 84px;
}
@media (max-width: 1072px) {
  .supabase-auth__code {
    margin-left: 45px;
  }
}
@media (max-width: 932px) {
  .supabase-auth__code {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .supabase-auth__code {
    flex: 1 1 auto;
    margin-left: 0px;
    max-width: 620px;
  }
}
.supabase-auth__code .tabs__item:not(:last-child) {
  margin-right: 10px;
}
.supabase-auth__code .code__window {
  padding-bottom: 0px;
}
.supabase-auth__code .code__window .code__list::after {
  display: none;
}
.supabase-auth__code .code__window .code__list li span._blue._ml {
  margin-right: 0px;
}
@media (max-width: 440px) {
  .supabase-auth__code .code__window .code__list {
    padding-top: 40px;
  }
}
.supabase-auth__code .code__window .code__info {
  padding: 33px 10px 100px 33px;
}
@media (max-width: 1072px) {
  .supabase-auth__code .code__window .code__info {
    padding: 33px 10px 75px 33px;
  }
}
@media (max-width: 932px) {
  .supabase-auth__code .code__window .code__info {
    padding: 18px 10px 70px 18px;
  }
}
@media (max-width: 440px) {
  .supabase-auth__code .code__window .code__info {
    padding: 18px 10px 50px 18px;
  }
}
.supabase-auth__code .code__window .code__info .code__title {
  font-family: "Roboto";
  margin-bottom: 16px;
}
.supabase-auth__code .code__window .code__info .code__text {
  font-family: "Roboto";
  color: #666666;
}
.supabase-auth__code .code__window .code__info *:last-child {
  margin-bottom: 0px;
}
.supabase-auth *:last-child:not(.tabs__item) {
  margin-bottom: 0px;
}

/*--------------supabase-auth-------------*/
/*------------------build-----------------*/
.build {
  width: 100%;
  padding: 128px 0px;
}
@media (max-width: 1072px) {
  .build {
    padding: 110px 0px;
  }
}
@media (max-width: 555px) {
  .build {
    padding: 100px 0px;
  }
}
.build__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.build__title {
  margin-bottom: 48px;
}
.build__title span {
  color: #BBBBBB;
}
@media (max-width: 768px) {
  .build__title {
    margin-bottom: 38px;
  }
}
@media (max-width: 555px) {
  .build__title {
    font-size: 33px;
    margin-bottom: 34px;
  }
}
.build__button {
  padding: 9px 24px;
}
.build *:last-child {
  margin-bottom: 0px;
}

/*------------------build-----------------*/
/*------------------footer-----------------*/
.footer {
  width: 100%;
  padding: 96px 0px;
}
@media (max-width: 768px) {
  .footer {
    padding: 90px 0px 80px 0px;
  }
}
@media (max-width: 555px) {
  .footer {
    padding: 80px 0px 70px 0px;
  }
}
.footer__top {
  padding-bottom: 128px;
  width: 100%;
  display: flex;
}
@media (max-width: 1072px) {
  .footer__top {
    padding-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .footer__top {
    padding-bottom: 50px;
    flex-direction: column;
  }
}
.footer__top .footer__info {
  flex: 1 1 352px;
  margin-right: 16px;
}
@media (max-width: 1072px) {
  .footer__top .footer__info {
    flex: 1 1 280px;
  }
}
@media (max-width: 768px) {
  .footer__top .footer__info {
    margin: 0px 0px 60px 0px;
    flex: 1 1 auto;
  }
}
.footer__top .footer__info .footer__logo {
  display: block;
  width: 160px;
  height: 31px;
  margin-bottom: 34px;
}
.footer__top .footer__info .footer__logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.footer__top .footer__info .footer__socials {
  display: flex;
}
.footer__top .footer__info .footer__socials .footer__social {
  display: inline-block;
  color: #A1A1A1;
}
.footer__top .footer__info .footer__socials .footer__social::before {
  font-size: 20px;
}
.footer__top .footer__info .footer__socials .footer__social:not(:last-child) {
  margin-right: 24px;
}
.footer__top .footer__info *:last-child {
  margin-bottom: 0px;
}
.footer__top .footer__items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1 1 736px;
  margin-left: 16px;
}
@media (max-width: 768px) {
  .footer__top .footer__items {
    margin: 0px -20px 0px 0px;
    padding-right: 0px;
    max-width: 680px;
    width: auto;
    flex: 1 1 auto;
    flex-wrap: wrap;
  }
}
.footer__top .footer__items .footer__item {
  flex: 1 1 160px;
}
.footer__top .footer__items .footer__item:not(:last-child) {
  margin-right: 32px;
}
@media (max-width: 768px) {
  .footer__top .footer__items .footer__item {
    flex: 0 0 auto;
    margin-right: 20px;
    margin-bottom: 30px;
  }
  .footer__top .footer__items .footer__item:not(:last-child) {
    margin-right: 20px;
  }
}
@media (max-width: 440px) {
  .footer__top .footer__items .footer__item {
    flex: 1 1 70px;
  }
}
.footer__top .footer__items .footer__item-title {
  color: #666666;
  margin-bottom: 19px;
}
@media (max-width: 768px) {
  .footer__top .footer__items .footer__item-title {
    margin-bottom: 15px;
  }
}
.footer__top .footer__items .footer__item-link {
  display: block;
}
.footer__top .footer__items .footer__item-link:not(:last-child) {
  margin-bottom: 12px;
}
@media (max-width: 768px) {
  .footer__top .footer__items .footer__item-link:not(:last-child) {
    margin-bottom: 8px;
  }
}
.footer__top .footer__items .footer__item *:last-child {
  margin-right: 0px;
}
.footer__bottom {
  width: 100%;
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #2A2A2A;
}
@media (max-width: 768px) {
  .footer__bottom {
    max-width: 660px;
  }
}
.footer__bottom .footer__copy {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .footer__bottom .footer__copy {
    font-size: 15px;
  }
}
.footer__bottom .pagecolor-edit {
  display: flex;
  align-items: center;
}
.footer__bottom .pagecolor-edit__icon {
  display: block;
  color: rgb(187, 187, 187);
}
.footer__bottom .pagecolor-edit__icon:first-child::before {
  font-size: 23px;
}
@media (max-width: 768px) {
  .footer__bottom .pagecolor-edit__icon:first-child::before {
    font-size: 20px;
  }
}
.footer__bottom .pagecolor-edit__icon:last-child::before {
  font-size: 20px;
}
@media (max-width: 768px) {
  .footer__bottom .pagecolor-edit__icon:last-child::before {
    font-size: 17px;
  }
}
.footer__bottom .pagecolor-edit .switch {
  margin: 0 22px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 44px;
  height: 24px;
  background-color: #444444;
  border-radius: 9999px;
}
@media (max-width: 768px) {
  .footer__bottom .pagecolor-edit .switch {
    width: 40px;
    height: 20px;
    margin: 0 16px;
  }
}
.footer__bottom .pagecolor-edit .switch__input {
  width: 0;
  height: 0;
  opacity: 0;
}
.footer__bottom .pagecolor-edit .switch__input:checked + .switch__slider::before {
  transform: translate(-20px);
  transition-duration: 0.15s;
}
.footer__bottom .pagecolor-edit .switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.footer__bottom .pagecolor-edit .switch__slider::before {
  content: "";
  position: absolute;
  cursor: pointer;
  background: #1F1F1F;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  box-shadow: 0px 0px 0px #FFFFFF;
  border-radius: 9999px;
  transition-duration: 0.15s;
}
@media (max-width: 768px) {
  .footer__bottom .pagecolor-edit .switch__slider::before {
    width: 16px;
    height: 16px;
  }
}
.footer__bottom .pagecolor-edit *:last-child {
  margin-right: 0px;
}

/*------------------footer-----------------*/