/*----------------footer----------------*/
.footer {
    width:100%;
    padding:100px 0px 92px 0px;
    @media(max-width:902px){
      padding:90px 0px 82px 0px;
    }
    @media(max-width:555px){
      padding:90px 0px 82px 0px;
    }
    .footer-main {
      width: 100%;
      padding-right:102px;
      margin-bottom:36px;
      display: flex;
      @media(max-width:1072px){
        padding-right:50px;
      }
      @media(max-width:902px){
        padding-right:0px;
      }
      @media(max-width:555px){
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
      //footer-main__info
      &__info {
        margin-right:20px;
        flex:1 1 50%;
        width:100%;
        @media(max-width:620px){
          max-width: 260px;
        }
        @media(max-width:555px){
          margin-right:0px;
          margin-bottom:30px;
          max-width:100%;
        }
        .footer-main__logo { 
          margin-bottom:20px;
          @media(max-width:555px){
            margin-bottom:15px;
          }
        }
        .footer-main__text {
          @extend %text4;
        }
        *:last-child{
          margin-bottom:0px;
        }
      }
      //footer-main__items
      &__items {
        display: flex;
        flex:1 1 50%;
        width:100%;
        justify-content: flex-end;
        @media(max-width:555px){
          width: 100%;
          justify-content: space-between;
          padding:0px 45px;
        }
        @media(max-width:472px){
          padding:0px
        }
        .footer-item {
            
            &:not(:last-child){
                margin-right:55px;
                @media(max-width:902px){
                  margin-right:35px;
                }
                @media(max-width:747px){
                  margin-right:20px;
                }
            }
            @media(max-width:555px){
              width: 100%;
              flex: 1 1 50%;
              &:first-child{
                margin-right:5px;
              }
              &:last-child{
                margin-left:5px;
              }
            }

            //footer-item__title
            &__title {
               margin-bottom:8px;
               @extend %text1;
            }
            //footer-item__links
            &__links {

            }
            //footer-item__link
            li{
                &:not(:last-child){
                  margin-bottom:5px;
                  @media(max-width:555px){
                    margin-bottom:3px;
                  }
                }
            }
            &__link {
               font-weight: 400;
               font-size: 14px;
               color:#ffff;
               @media(max-width:747px){
                font-size: 12px;
               }
            }
        }
        *:last-child{
         margin-bottom:0px;
        }
      }
    } 
    .footer-subscribe {
     width:100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding:36px 0px;
     margin-bottom:56px;
     border-top:2px solid #FFFFFF;
     border-bottom:2px solid #FFFFFF;
     @media(max-width:747px){
      padding:32px 0px;
     }
     @media(max-width:555px){
      padding:30px 0px;
      margin-bottom:36px;
      flex-direction: column;
      align-items: center;
      text-align: center;
     }
     //footer-subscribe__info
     &__info {
       width: 100%;
       @media(max-width:555px){
        margin-bottom:34px;
       }
       .footer-subscribe__title {
          margin-bottom:20px;
          @extend %text1;
          color: #FFFFFF;
          @media(max-width:555px){
            margin-bottom:15px;
          }
       }
       .footer-subscribe__text {
          @extend %text4;
       }
     }
     //footer-subscribe__input
     &__input {
       display: flex;
       align-items: center;
       justify-content: flex-end;
       width: 100%;
       @media(max-width:555px){
        justify-content: center;
       }
       input{
         appearance:none;
         display: block;
         background: #F9FAFB;
         border-radius: 12px;
         border:none;
         min-height:52px;
         max-width:458px;
         width: 100%;
         padding:0px 95px 0px 15px;
         font-size: 16px;
         color: #3f3f3f;
         @media(max-width:902px){
          max-width:320px;
          font-size: 15px;
         }
         @media(max-width:555px){
           max-width:410px;
           min-height:45px;
           padding:0px 80px 0px 15px;
           
         }
       }
       a{
         display: block;
         background: #000000;
         border-radius: 11px;
         width:63px;
         height: 30px;
         margin-left:-63px;
         position: relative;
         right:6px;
         @media(max-width:902px){
          width:55px;
          margin-left:-55px;
         }
       }
     }
     *:last-child{
      margin-bottom:0px;
     }
    }
    //footer__info
    &__info {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     .footer__copy {
       margin-right:15px;
       @extend %standtext;
       span{
         @extend %text4;
         margin-left:4px;
       }
     }

     .socials {
        display: flex;
        .socials__item {
          display: block;
          font-size:23px;
          @media(max-width:747px){
            font-size:22px;
          }
          @media(max-width:747px){
            font-size: 20px;
          }
          &:not(:last-child){
            margin-right:20px;
            @media(max-width:747px){
              margin-right:15px;
            }
          }
        }
     }
    }
    &__container *:last-child{
      margin-bottom:0px;
    }
}


/*----------------footer----------------*/