/*----------------help----------------*/
.help {
  width: 100%;
  padding:113px 0px 100px 0px;
  //help__container
  &__container {
    text-align: center;
    width: 100%;
  }
  //help__title
  &__title {
    @extend %title;
    max-width: 571px;
    margin:0px auto 15px auto;
    @media(max-width:555px){
      font-size:36px;
    }
  }
  //help__text
  &__text {
    @extend %text3;
    margin-bottom:22px;
  }
  //help__button
  &__button {
    @extend %button;
  }
  &__container *:last-child{
    margin-bottom:0px;
  }
}
/*----------------help----------------*/