/*---------ibg---------*/
.ibg{
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    display: block;
    img{
       display:none;
    }
} 
/*---------ibg---------*/