/*----------------tools----------------*/
.tools {
    width: 100%;
    position: relative;
   //tools__container
   &__container {
     display: flex;
     @media(max-width:902px){
      flex-direction: column;
      max-width:100%;
      padding:0px;
      margin:auto;
     }
   }
   //tools__content
   &__content {
      flex:1 1 50%;
      padding:173px 70px 153px 0px;
      position: relative;
      right:36px;
      @media(max-width:1320px){
        padding:173px 106px 153px 0px;
        position: static;
      }
      @media(max-width:1245px){
        padding:150px 80px 130px 0px;
      }
      @media(max-width:992px){
        padding:140px 50px 120px 0px;
      }
      @media(max-width:902px){
        padding:0px;
        min-height:72vh;
        max-width: 1204px;
        width: 100%;
        padding:40px 15px 40px 15px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
     .tools__description {
       @extend %text1;
       margin-bottom:6px;
       @media(max-width:747px){
        margin-bottom:2px;
       }
     }
     .tools__title {
       font-weight: 400;
       font-size: 28px;
       line-height: 114%;
       margin-bottom:14px;
       @media(max-width:747px){
         font-size: 26px;
         margin-bottom:8px;
       }
       @media(max-width:555px){
         font-size: 24px;
       }
     }
     .tools__text {
       @extend %standtext;
       color:#ffff;
       margin-bottom:20px;
       @media(max-width:747px){
        margin-bottom:18px;
       }
     }
     .tools__button {
       @extend %button;
     }
     *:last-child{
      margin-bottom:0px;
     }
   }
   //tools__img
   &__img {
      flex:1 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding:0px 0px 40px 20px;
      @media(max-width:902px){
        position: relative;
        min-height:72vh;
        max-width: 1204px;
        width: 100%;
        padding: 40px 15px 40px 15px;
        margin: 0 auto;
      }
      //tools__img-bg
      &-bg{
        position: absolute;
        z-index:1;
        width: 50%;
        height: 100%;
        top:0;
        right:0;
        @media(max-width:902px){
          width: 100%;
        }
      }
   }
   //tools__information
   &__information{
     position: relative;
     z-index:5;
   }
   &__container{
    *:last-child{
      margin-bottom:0px;
     }
   }
}

/*----------------tools----------------*/