/*-----------program-selection----------*/
.program-selection {
  padding:46px 0px 69px 0px;
  *::placeholder{
    color: #444444;
  }
  @media(max-width:768px){
    padding: 9px 0px 75px 0px;
  }
  @media(max-width:555px){
    padding: 27px 0px 26px 0px;
  }
  &__container {
    *:last-child{
      margin-bottom:0px;
    }
    @media(max-width:768px){
      max-width: 660px;
    }
    @media(max-width:320px){
      max-width:310px
    }
  }
  &__title {
   margin-bottom:56px;
   @media(max-width:768px){
    margin:0px 0px 54px -40px;
   }
   @media(max-width:718px){
    margin:0px 0px 54px -20px;
   }
   @media(max-width:698px){
    margin:0px 0px 54px 0px;
   }
   @media(max-width:555px){
    font-size: 45px;
    line-height: 100%;
    margin-bottom:37px;
   }
   @media(max-width:350px){
    font-size: 38px;
  }
   @media(max-width:320px){
    font-size: 36px;
   }
  }
  &__text {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom:66px;
    max-width: 335px;
    @media(max-width:555px){
      font-size: 16px;
      line-height: 129%;
      margin-bottom:39px;
      max-width: 266px;
    }
    @media(max-width:320px){
      font-size: 14px;
      max-width: 240px;
    }
  }
  .cat-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media(max-width:768px){
      flex-direction: column;
    }
    *{
     display: block;
    }
    &__column {
     &:nth-child(1){
       flex: 1 1 50%;
       margin-right:40px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       @media(max-width:1042px){
        margin-right:25px;
       }
       @media(max-width:768px){
        margin:0px 0px 72px 0px;
       }
       @media(max-width:555px){
        margin:0px 0px 24px 0px;
       }
     }
     &:nth-child(2){
       flex: 1 1 50%;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: space-between;
       border: 1px solid #E7E7E7;
       margin-left:40px;
       @media(max-width:1042px){
        margin-left:25px;
       }
       @media(max-width:768px){
        margin-left:0px;
       }
       padding: 25px 10px 25px 28px;
       @media(max-width:555px){
        border:none;
        padding: 20px 0px 22px 0px;
        position: relative;
        &::before{
          content:'';
          position: absolute;
          width: 300%;
          height:1px;
          background-color:#D9D9D9;
          left:-60px;
          top: 0;
        }
        &::after{
          content:'';
          position: absolute;
          width: 300%;
          height:1px;
          background-color:#D9D9D9;
          left:-30px;
          bottom: 0;
        }
       }
     }
    }
    &__info {
      display: flex;
      align-items: center;
      &:not(:last-child){
        margin-bottom:20px;
      }
      @media(max-width:555px){
        &:not(:last-child){
          margin-bottom:14px;
        } 
      }
     label{
       
     }
     input{
       width: 100%;
        
       padding: 10px 19px 10px 19px;
       @media(max-width:555px){
        padding: 12.6px 14px 12.6px 14px; 
       }
     }
     &:nth-child(1){
      label{
        margin-right:13px;
        flex:1 0 50px;
        @media(max-width:555px){
          flex:1 0 40px; 
        }
      }
     }
     &:nth-child(2){
      label{
        margin-right:14px;
        flex:1 0 80px;
        @media(max-width:555px){
          flex:1 0 63px; 
        }
      }
     }
     &:nth-child(3){
      label{
        margin-right:14px;
        flex:1 0 122px;
        @media(max-width:555px){
          flex:1 0 99px; 
          margin-right:10px;
        }
      }
     }
    }
    &__flag {
      display: flex;
      align-items: center;
      transition-duration: 0.3s;
      &:not(:last-child){
        margin-bottom:12px;
      }
      &:active{
        opacity: 0.3;
        transition-duration: 0.3s;
      }
      input{
        margin-right:20px;
        width:40px;
        flex:0 0 40px;
        appearance: none;
        border-radius: 100%;
        padding: 10px;
        height:40px;
        border: 1px solid #CDCDCD;
        background: #FFFFFF;
        transition-duration: 0.3s;
        cursor: pointer;
        @media(max-width:555px){
          height:30px;
          width:30px;
          flex:0 0 30px;
          padding: 8px;
          margin-right:16px;
        }
        &:hover{
          transition-duration: 0.3s;
          border: 1px solid #BABABA;
        }
        &:checked{
          &::before{
           content: '';
           width: 100%;
           height:100%;
           background-color: #68B738;
           border-radius: 50%;
           display: block;
          } 
        }     
      }
      label{
       color: #222222;
      }
    }
  }
}
/*-----------program-selection----------*/